﻿@model ProtocolMappingDetails
    @{
        ViewData["Title"] = "Protocol";
        ViewData["ActivePage"] = "Protocol";

    }

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

    <html lang="en">
    <body>
        <div class="modal" id="DeleteConfirmModal" style="display:none;" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="-modal-title" id="DeleteConfirmModelHeader"></h4>
                        <span class="close" id="Close" data-dismiss="modal"></span>
                    </div>
                    <div class="modal-body">
                        <p id="DeleteConfirmModelText"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btnc" onclick="ProtocolMasterConfirm()">OK</button>

                        <button type="button" class="btn btn-default" id="btncancel">Cancel</button>

                    </div>
                </div>
            </div>
        </div>

        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

            <br />
            <div class="kt-portlet kt-portlet--mobile repeater">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class=" kt-portlet__head-title">
                            Protocol List
                        </h3>
                    </div>
                    @if (SessionHelper.RoleMenuList.FirstOrDefault(m => m.MenuName == "ProtocolMaster").IsInsert == true)
                    {
                        <div class="kt-portlet__head-toolbar">
                            <a href="/ProtocolMaster/ManageProtocolMaster" class="btn btn-primary">
                                <span><i class="fc-icon-plus-square"></i> Add Protocol</span>
                            </a>
                        </div>
                    }
                </div>

                <div class="kt-portlet__body">

                    <div class="row">
                        <div class="col-6 p-2">
                            <label>Mapped Protocol : </label>
                            <input type="text" placeholder="Search" autocomplete="off" class="form-control" id="searchMappedProtocol" name="searchMappedProtocol" />
                        </div>
                        <div class="col-6 p-2">
                            <label>Mapped Language : </label>
                            @Html.DropDownListFor(c => c.LanguageId, (IEnumerable<SelectListItem>)ViewBag.LanguageMasterList, "-- Select Language --", new { @class = "form-control form-control-sm", @Id = "searchMappedLanguage" })

                        @*    <input type="text" placeholder="Search" autocomplete="off" class="form-control" id="searchMappedLanguage" name="searchMappedLanguage" />*@
                        </div>
                    </div>
                    <div id="divTblProtocol" class="table-responsive">
                        <table class="table table-striped- table-bordered table-hover table-checkable" id="TblProtocol">
                            <thead>
                                <tr>
                                    <th> Id </th>
                                    <th> Protocol Name </th>
                                    <th> Mapped  Protocol </th>
                                    <th> Mapped  Language </th>
                                    <th> <input type="checkbox" class="filter-checkbox" value="Yes" /> Active </th>
                                    <th> Action </th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </body>
</html>

@section Scripts{

    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script src="~/js/popper.js"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>*@
    <script>
    var roleTable = null;
    var RoleIsEdit = @(SessionHelper.RoleMenuList.FirstOrDefault(m => m.MenuName == "ProtocolMaster").IsEdit == true ? "true" : "false");
        function BindData()
        {
            var txtSearch = $("#TblProtocol_filter input").val();
            if (sessionStorage.getItem("searchMappedProtocol") != undefined && sessionStorage.getItem("searchMappedProtocol") != "") {
                $('#searchMappedProtocol').val(sessionStorage.getItem("searchMappedProtocol"));
            }
            if (sessionStorage.getItem("searchMappedLanguage") != undefined && sessionStorage.getItem("searchMappedLanguage") != "" ) {
                $('#searchMappedLanguage').val(sessionStorage.getItem("searchMappedLanguage"));
            }
            if (sessionStorage.getItem("searchMappedGrid") != undefined && sessionStorage.getItem("searchMappedGrid") != "") {
                txtSearch=sessionStorage.getItem("searchMappedGrid");
            }

                var searchMappedProtocol = "";
                var searchMappedLanguage = "";
                var textsearchMappedProtocol = $("#searchMappedProtocol").val();
                //var textsearchMappedLanguage = $("#searchMappedLanguage").val();
            var textsearchMappedLanguagId = $("#searchMappedLanguage").val();

            var Search = "";


                if (textsearchMappedProtocol != "" && textsearchMappedProtocol != undefined ) {
                    searchMappedProtocol = textsearchMappedProtocol;
                }
            if (textsearchMappedLanguagId != "" && textsearchMappedLanguagId != undefined) {
                searchMappedLanguage = textsearchMappedLanguagId;
                }
            if (txtSearch != "" && txtSearch != undefined) {
                Search = txtSearch;
            }
                //if (roleTable != undefined && roleTable != null) {
                //    roleTable.destroy();
                //}

            $("#TblProtocol").dataTable().fnDestroy();


            var QueryString = "";
            QueryString += `searchMappedProtocol=${searchMappedProtocol}`;
            QueryString += `&searchLanguageId=${searchMappedLanguage}`;
            QueryString += `&Search=${Search}`;



                roleTable = $('#TblProtocol').dataTable({
                'ajax': {
                    "type": "GET",
                        "url": '@Url.Action("GetProtocolMappings", "ProtocolMaster")?' + QueryString,
                        "dataSrc": function (e) {
                            if (e.inactivecount == 0) {

                                $(".filter-checkbox").selected(true)
                            }
                        return e.protocolMappingList;
                    }
                    },
                    'order': [[1, "asc"]],
                 'columns': [
                     { "data": "protocolMappingId", "visible": false },
                     { "data": "protocolName", "orderable": true },
                     { "data": "mapedProtocol", "orderable": true },
                     { "data": "languageName", "orderable": true },
                     {
                         "data": "isActive", "orderable": false,
                         "render": function (data, type, row)
                         {
                             if (data == true) {
                                 return `<span onclick="ProtocolMasterDelete('` + row.protocolMappingId + `','Yes')" class=\"btn btn-success btn-sm\">Yes</span>`
                             }
                             else {
                                 return `<span onclick="ProtocolMasterDelete('` + row.protocolMappingId + `','No')" class=\"btn btn-danger btn-sm\">No</span>`
                             }
                         }
                     },
                     {
                         "sClass": "action", "width": "10%", "visible": true, "orderable": false,
                         "render": function (data, type, row)
                         {
                            var editvalue = "";
                            if (RoleIsEdit == true)
                            {
                             //   var updateprotocolMapping = '@Url.Action("ManageProtocolMaster", "ProtocolMaster")?Id=' + row.protocolMappingId;
                                editvalue = '<a href=# onclick=EditProtocol(' + row.protocolMappingId+')  class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="tooltip" title="Edit"><i class="la la-edit"></i></a>'
                            }
                            return editvalue
                         }
                     }
                ],
                initComplete: function () {
                    if (sessionStorage.getItem("MappedProtocolPaging") != undefined) {
                        var pagecount = sessionStorage.getItem("MappedProtocolPaging");
                            if (pagecount != "") {
                                pagecount = parseInt(sessionStorage.getItem("MappedProtocolPaging"));
                            }
                        roleTable.DataTable().page(pagecount).draw(false);
                            sessionStorage.clear();
                        }
                    }
                });

            if (sessionStorage.getItem("searchMappedGridProtocol") != undefined) {
                roleTable.fnFilter(sessionStorage.getItem("searchMappedGridProtocol"));
            }
            //roleTable.on('search.dt', function () {
            //    BindData();
            //});
        }
        $("#searchMappedLanguage").on('change', function () {
            debugger;
            BindData();
        });
        $("#searchMappedProtocol").on('change', function () {
            BindData();
        });

        function EditProtocol(Id) {
             if (window.sessionStorage) {
                 sessionStorage.setItem("searchMappedGrid", $('#TblProtocol_filter input').val());
                 var info = $('#TblProtocol').DataTable().page.info();
                if (info != undefined) {
                    if (info.page != undefined) {
                        sessionStorage.setItem("MappedProtocolPaging", info.page);
                    }
                }
                 sessionStorage.setItem("searchMappedGridProtocol", $('#searchMappedProtocol').val());
                 sessionStorage.setItem("searchMappedLanguage", $('#searchMappedLanguage').val());
            }
            var Edittxt = '@Url.Action("ManageProtocolMaster", "ProtocolMaster")?Id=' + Id;
            window.location = Edittxt;
        }

    $(document).ready(function () {


        //$('#TblProtocol thead th').each(function () {
        //    var title = $(this).text();
        //    $(this).html('<input type="text" placeholder="Search ' + title + '" />');
        //});

        //$("#TblProtocol thead th:nth-child(2)").html('Protocol Name ');
        //$("#TblProtocol thead th:nth-child(3)").html('Mapped Protocol <br/><input type="text" placeholder="Search" />');


        $('.filter-checkbox').on('change', function (e) {
            var searchTerms = "Yes";
            $.each($('.filter-checkbox'), function (i, elem) {
                if ($(elem).prop('checked')) {
                    roleTable.api().column(4).search(searchTerms).draw();
                }
                else {
                    roleTable.api().column(4).search('No').draw();
                }
            })
        });

        $('#srProtocolName').on('change', function (e) {
            var searchTerms = $(this).val();
            roleTable.api().column(1).search(searchTerms).draw();
        });

        $('#srMappedProtocol').on('change', function (e) {
            var searchTerms = $(this).val();
            roleTable.api().column(2).search(searchTerms).draw();
        });

        $('#srMappedLanguage').on('change', function (e) {
            var searchTerms = $(this).val();
            roleTable.api().column(3).search(searchTerms).draw();
        });
        BindData();
    });



        var DeleteDataId = 0;
        function ProtocolMasterDelete(Id, IsActive) {
            DeleteDataId = Id;
            if (IsActive == 'Yes') {
                $('#DeleteConfirmModelHeader').html('Inactivate Protocol Mapping');
                $('#DeleteConfirmModelText').html('Are you sure you wish to change the status of this protocol to Inactive?');
            }
            else {
                $('#DeleteConfirmModelHeader').html('Activate Protocol Mapping');
                $('#DeleteConfirmModelText').html('Are you sure you wish to change the status of this protocol to Active?');
            }
            $('#DeleteConfirmModal').show();

        }


        function ProtocolMasterConfirm() {
            window.location = '@Url.Action("ProtocolMasterDelete", "ProtocolMaster")?id=' + DeleteDataId;
        }


        $('#Close').click(function () {
            $('#DeleteConfirmModal').hide();
        })


        $('#btncancel').click(function () {
            $('#DeleteConfirmModal').hide();
        })


        function mapedProtocoltoggle() {
            $('.selectpicker').selectpicker('toggle');
        }


        $(document).on('keyup', '.bs-searchbox input', function (e) {
            $('#MapedProtocolSearchValues').val($(this).val());
        });


        $(document).ready(function () {
            MapedProtocolDrp();
            $('.selectpicker').selectpicker();
            BindData();
        })


        function UpdateProtocolMaster() {

            $('#SaveProtocolMasterButton').hide();
            $('#SaveProtocolMasterButtonLoading').show();
            var ProtocolNamesStr = $("input[id='ProtocolNames']").map(function () { return $(this).val(); }).get().toString();

            var MapedProtocolStr = "";

            if ($('#MapedProtocol').selectpicker('val') == "") {
                MapedProtocolStr = $("input[id='MapedProtocolSearchValues']").map(function () { return $(this).val(); }).get().toString();
            } else {
                MapedProtocolStr = $("#MapedProtocol option:selected").map(function () {
                    return $(this).text();
                }).get().join(',');
            }

            $.ajax({
                type: "POST",
                url: '@Url.Action("ManageProtocolMaster", "ProtocolMaster")',
                data: ({
                    Id: $("#ProtocolId").val(),
                    Name: ProtocolNamesStr,
                    MapedProtocol: MapedProtocolStr

                }),
                dataType: 'json',
                success: function (response) {

                    window.location.href = "/ProtocolMaster/Index";
                    $('#SaveProtocolMasterButton').show();
                    $('#SaveProtocolMasterButtonLoading').hide();
                },
                error: function (error) {
                    $('#SaveProtocolMasterButton').show();
                    $('#SaveProtocolMasterButtonLoading').hide();
                    toastr.error("Opps!", "An error occured ! Please try again.", "error");
                }
            });
        }


        function MapedProtocolDrp() {

            $.ajax({
                type: "GET",
                url: '@Url.Action("GetMapedProtocolOption", "ProtocolMaster")',
                dataType: 'json',
                success: function (response) {
                    for (i = 0; i < response.length; i++) {
                        $('#MapedProtocol').append(`
                            <option value="${response[i].mapedProtocol}">${response[i].mapedProtocol}</option>
                        `);
                        $('.selectpicker').selectpicker("refresh");
                    }
                },
                error: function (error) {
                    toastr.error("Opps!", "An error occured ! Please try again.", "error");
                }
            });
        }


    </script>



}

