﻿@model ImagingUtilizationUpload.Models.ProtocolMapping
@{
    ViewData["Title"] = "ProtocolMapping";
    ViewData["ActivePage"] = "ProtocolMapping";
}
<style>
    .drp-toggle {
        position: absolute;
        background: none;
        content: "";
        z-index: 9999;
        width: 100%;
        height: 38px;
        cursor: pointer;
    }

    .select2-container--default .select2-selection--single {
        display: block !important;
        width: 100% !important;
        height: calc(1.5em + 1.3rem + 2px) !important;
        padding: 5px !important;
        font-size: 1rem !important;
        font-weight: 400 !important;
        line-height: 1.5 !important;
        color: #495057 !important;
        background-color: #fff !important;
        background-clip: padding-box !important;
        border: 1px solid #e2e5ec !important;
        border-radius: 4px !important;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
    }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 40px !important;
        }

    .select2-container {
        width: 100% !important;
    }
</style>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid" style="margin-top:20px;">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        @if (@ViewBag.ProtocolMasterId != 0)
                        {
                            <h3 class="kt-portlet__head-title">Update Protocol</h3>
                        }
                        else
                        {
                            <h3 class="kt-portlet__head-title">Create Protocol</h3>
                        }
                    </div>
                </div>
                <div class="kt-form kt-container">
                    @if (@ViewBag.ProtocolMasterId > 0)
                    {
                        <form class="repeater mb-3">
                            <div class="row align-items-end">
                                <input type="hidden" class="ProtocolMappingId" id="ProtocolMappingId" />
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label class="col-lg-12 col-sm-12 col-form-label">Protocol Name</label>
                                    <input id="EditProtocolNames" required class="form-control" placeholder="Protocol Name" />
                                    <span class="text-danger"></span>
                                </div>
                                <input type="hidden" class="MapedProtocolSearchValues" id="MapedProtocolSearchValues" />
                                <div class="col-lg-4 col-md-4 col-sm-4 js-example-basic-single">
                                    <label class="col-lg-12 col-sm-12 col-form-label">Mapped Protocol</label>
                                    <select class="form-control MapedProtocolCls" title="Please select Mapped protocol" id="EditMapedProtocol" data-live-search="true">
                                        <option value="" id="searchValue"></option>
                                    </select>
                                    <span class="text-danger"></span>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-4 js-example-basic-single">
                                    <label class="col-lg-12 col-sm-12 col-form-label">Languages</label>
                                    <select class="form-control LanguageCls" title="Please select Language" id="EditLanguage">
                                    </select>
                                </div>
                            </div>
                        </form>
                    }
                    else
                    {
                        <form class="repeater">
                            <div data-repeater-list="category-group" id="Protocol_Repeater">

                            </div>
                            <div class="kt-portlet__head-toolbar" style="margin-top: 15px; margin-bottom: 15px;">
                                <button type="button" onclick="addMore();" class="btn btn-primary">
                                    <span><i class="fa fa-plus-circle"></i> Add</span>
                                </button>
                            </div>
                        </form>
                    }

                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions kt-form__actions--right">
                            <div class="row">
                                <div class="col-lg-9 offset-lg-3">
                                    <div class="kt-align-left">
                                        <button type="button" id="SaveProtocolMasterButton" onclick="UpdateProtocolMaster();" class="btn btn-brand">Update Mappings</button>
                                        <button type="button" id="SaveProtocolMasterButtonLoading" style="display:none;" onclick="SaveLanguageMaster();" class="btn btn-brand" disabled>
                                            Updating Mappings...
                                        </button>
                                        <a href="/ProtocolMaster/Index" class="btn btn-secondary">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


    <script>

        var arrData,languageArrData = [];

        $(document).ready(function () {

            onLoadProtocolData();
            onLoadLanguageData();
            if (@ViewBag.ProtocolMasterId > 0) {
                EditProtocolData();
                EditProtocolMaster();
            }

            $(".js-example-basic-single select").select2({
                placeholder: "Select a mapped protocol",
                allowClear: true,
            });

            $('.LanguageCls').select2({
                minimumResultsForSearch: -1
            });

        });


        function SaveProtocolMaster() {

            $('#SaveProtocolMasterButton').hide();
            $('#SaveProtocolMasterButtonLoading').show();

            $.ajax({
                type: "POST",
                url: '@Url.Action("ManageProtocolMaster", "ProtocolMaster")',
                data: ({
                    Id: $("#ProtocolId").val(),
                    Name: $("#ProtocolName").val(),
                }),
                dataType: 'json',
                success: function (response) {
                    window.location.href = "/ProtocolMaster/Index";
                    $('#SaveProtocolMasterButton').show();
                    $('#SaveProtocolMasterButtonLoading').hide();
                },
                error: function (error) {
                    $('#SaveProtocolMasterButton').show();
                    $('#SaveProtocolMasterButtonLoading').hide();
                    toastr.error("Opps!", "An error occured ! Please try again.", "error");
                }
            });
        }


        function UpdateProtocolMaster() {
            $('#SaveProtocolMasterButton').hide();
            $('#SaveProtocolMasterButtonLoading').show();
            var ProtocolNamesStr = $("input[id='ProtocolNames']").map(function () { return $(this).val(); }).get().toString();

            var MapedProtocolSelectStr = $(".MapedProtocolCls option:selected").map(function () {
                return $(this).text();
            }).get().join(',');

            var MapedLanguageSelectStr = $(".LanguageCls option:selected").map(function () {
                return $(this).val();
            }).get().join(',');

            if ((ProtocolNamesStr == "" || ProtocolNamesStr == null) && ($('#EditProtocolNames').val() == "" || $('#EditProtocolNames').val() == null) ) {
                toastr.error("Protocol name is required");
                $('#SaveProtocolMasterButton').show();
                $('#SaveProtocolMasterButtonLoading').hide();
            } else if ((MapedProtocolSelectStr == "" || MapedProtocolSelectStr == null) && ($('#EditMapedProtocol').val() == "" || $('#EditMapedProtocol').val() == null)) {
                toastr.error("Mapped protocol is required");
                $('#SaveProtocolMasterButton').show();
                $('#SaveProtocolMasterButtonLoading').hide();
            } else {
                $.ajax({
                   type: "POST",
                   url: '@Url.Action("ManageProtocolMaster", "ProtocolMaster")',
                   data: ({
                       Id: $("#ProtocolMappingId").val(),
                       Name: ProtocolNamesStr,
                       MapedProtocolSelect: MapedProtocolSelectStr,
                       MapedLanguageSelect: MapedLanguageSelectStr,
                       UpdateProtocolName: $('#EditProtocolNames').val(),
                       UpdateMapedProtocol: $('#EditMapedProtocol').val(),
                       UpdateLanguages: $('#EditLanguage').val(),
                   }),
                   dataType: 'json',
                   success: function (response) {
                       window.location.href = "/ProtocolMaster/Index";
                       $('#SaveProtocolMasterButton').show();
                       $('#SaveProtocolMasterButtonLoading').hide();
                   },
                   error: function (error) {
                       $('#SaveProtocolMasterButton').show();
                       $('#SaveProtocolMasterButtonLoading').hide();
                       toastr.error("Opps!", "An error occured ! Please try again.", "error");
                   }
                });
            }
        }


        var Reapet = 1;
        function addMore() {
            debugger;
            Reapet = Reapet + 1;
            var htmlData = "";

            htmlData += '<div data-repeater-item class="row align-items-end js-example-basic-single" id="datarepeater' + Reapet+'">';
            htmlData +='<div class="col-lg-3 col-md-3 col-sm-3">';
            htmlData +='<label class="col-lg-12 col-sm-12 col-form-label">Protocol Name</label>';
            htmlData +='<input id="ProtocolNames" required class="form-control" placeholder="Protocol Name" />';
            htmlData +='<span class="text-danger"></span>';
            htmlData +='</div>';
            htmlData += '<input type="hidden" class="MapedProtocolSearchValues" id="MapedProtocolSearchValues'+Reapet+'" />';
            htmlData +='<div class="col-lg-4 col-md-4 col-sm-5">';
            htmlData +='<label class="col-lg-12 col-sm-12 col-form-label">Mapped Protocol</label>';
            htmlData += '<select class="form-control MapedProtocolCls" title="Select a mapped protocol" onclick="MapedProtocol(' + Reapet + ');" id="MapedProtocol' + Reapet + '" data-live-search="true">';
            htmlData += '<option value="" id="searchValue' + Reapet+'"></option>';

                var options = MapedProtocolData(Reapet);
                htmlData += options;

            htmlData += '</select>';
            htmlData +='<span class="text-danger"></span>';
            htmlData += '</div>';
            htmlData += '<div class="col-lg-4 col-md-4 col-sm-4 js-example-basic-single">'
            htmlData += '<label class="col-lg-12 col-sm-12 col-form-label">Languages</label>'
            htmlData += '<select class="form-control LanguageCls" title="Please select Language" id="MapedLanguage' + Reapet + '">'
            htmlData += '<option value="0">Please select Language</option>';
                var options = LanguageData(Reapet);
                htmlData += options;

            htmlData += '</select></div>';
            htmlData += '<div class="col-lg-1 col-md-1 col-sm-1 btn btn-primary" onclick="DataRepeaterDelete(' + Reapet + ');">';
            htmlData += '<i class="la la-trash"></i>';
            htmlData +='</div>';
            htmlData +='</div>';

            $('#Protocol_Repeater').append(htmlData);

            $(".js-example-basic-single select").select2({
                placeholder: "Select a mapped protocol",
                allowClear: true,
            });

            $('.LanguageCls').select2({
                minimumResultsForSearch: -1
            });

        }

        //DataRepeaterDelete
        function DataRepeaterDelete(RepeatId) {
            $('#datarepeater'+RepeatId).remove();
        }

        $(document).ready(function () {
            onLoadProtocolData();
            onLoadLanguageData();
            addMore();
        });
        $(document).on('change', '.select2-search__field', function (e) {
            $(`#MapedProtocolSearchValues${Reapet}`).val($(this).val());
            $(`#searchValue${Reapet}`).text($(this).val())
            $(`#searchValue${Reapet}`).val($(this).val())
            $(`#MapedProtocol${Reapet}`).val($(this).val()).trigger('change');
            $(".js-example-basic-single select").select2({
                allowClear: true,
            });
        });


        if (@ViewBag.ProtocolMasterId > 0) {
            $(document).on('change', '.select2-search__field', function (e) {
                $(`#MapedProtocolSearchValues`).val($(this).val());
                $(`#searchValue`).text($(this).val());
                $(`#searchValue`).val($(this).val());
                $("#EditMapedProtocol").val($(this).val()).trigger('change');
                $(".js-example-basic-single select").select2({
                    allowClear: true,
                });
            });
        }


        function MapedProtocolData() {
            var data = "";
            if (arrData.length > 0) {
                for (i = 0; i < arrData[0].length; i++) {
                    data += '<option value="' + arrData[0][i] + '">' + arrData[0][i] + '</option>';
                }
            }
            return data;
        }

        function LanguageData() {
            var data = "";
            if (languageArrData.length > 0) {
                for (i = 0; i < languageArrData[0].length; i++) {
                    data += '<option value="' + languageArrData[0][i].languageId + '">' + languageArrData[0][i].languageName + '</option>';
                }
            }            

            return data;
        }



        function onLoadProtocolData() {
            arrData = [];
             $.ajax({
                 type: "GET",
                 async: false,
                url: '@Url.Action("GetMapedProtocolOptionDistinct", "ProtocolMaster")',
                dataType: 'json',
                success: function (response) {
                    arrData.push(response);
                },
                error: function (error) {
                    toastr.error("Opps!", "An error occured ! Please try again.", "error");
                }
            });
        }

        function onLoadLanguageData() {
            
            languageArrData = [];
             $.ajax({
                 type: "GET",
                 async: false,
                url: '@Url.Action("GetLanguageOption", "ProtocolMaster")',
                dataType: 'json',
                 success: function (response) {
                     
                    languageArrData.push(response);

                     for (i = 0; i < response.length; i++) {
                         $('#EditLanguage').append(`
                            <option value="${response[i].languageId}">${response[i].languageName}</option>
                        `);
                     }
                },
                error: function (error) {
                    toastr.error("Opps!", "An error occured ! Please try again.", "error");
                }
            });
        }


        function EditProtocolData() {
             $.ajax({
                type: "GET",
                url: '@Url.Action("GetMapedProtocolOptionDistinct", "ProtocolMaster")',
                dataType: 'json',
                success: function (response) {
                    for (i = 0; i < arrData[0].length; i++) {
                        $('#EditMapedProtocol').append(`
                            <option value="${response[i]}">${response[i]}</option>
                        `);
                    }
                    EditProtocolMaster();
                },
                error: function (error) {
                    toastr.error("Opps!", "An error occured ! Please try again.", "error");
                }
            });
        }



        function EditProtocolMaster() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetProtocolMasterData", "ProtocolMaster")',
                data: ({
                    Id: @ViewBag.ProtocolMasterId,
                }),
                dataType: 'json',
                success: function (response) {
                    $("#ProtocolMappingId").val(response.protocolMappingId);
                    $("#EditProtocolNames").val(response.protocolName);
                    $("#EditMapedProtocol").val(response.mapedProtocol).trigger('change');
                    $("#EditLanguage").val(response.languageId).trigger('change');
                },
                error: function (error) {
                    toastr.error("Opps!", "An error occured ! Please try again.", "error");
                }
            });
        }
    </script>
}
