﻿@model LanguageMasterdetail
@{
    ViewData["Title"] = "Language Master";
    ViewData["ActivePage"] = "Language Master";

}


<html lang="en">
<body>

    <div class="modal" id="DeleteConfirmModal" style="display:none;" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="ActivestatuschangeHeader"></h4>
                    <span class="close" id="Close" data-dismiss="modal"></span>
                </div>
                <div class="modal-body">
                    <p id="ActivestatuschangeText"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnc" onclick="LangaugeMasterConfirm()">OK</button>

                    <button type="button" class="btn btn-default" id="btncancel">Cancel</button>

                </div>
            </div>
        </div>
    </div>


    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

        <br />
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class=" kt-portlet__head-title">
                        Language Master List
                    </h3>
                </div>
                @if (SessionHelper.RoleMenuList.FirstOrDefault(m => m.MenuName == "LanguageMaster").IsInsert == true)
                {
                    <div class="kt-portlet__head-toolbar">
                        <a href="@Url.Action("ManageLanguageMaster", "LanguageMaster")" class="btn btn-primary">
                            <span><i class="fc-icon-plus-square"></i> Add Language</span>
                        </a>
                    </div>
                }
            </div>
            <div class="kt-portlet__body">
                <div class="row">

                    <div class="col-6 p-2">
                        <label>Language Name : </label>
                        @*<input type="text" placeholder="Search" autocomplete="off" class="form-control" id="searchLanguageName" name="searchLanguageName"  />*@
                        @Html.DropDownListFor(c=>c.LanguageId, (IEnumerable<SelectListItem>)ViewBag.LanguageMasterList, "-- Select Language --", new { @class = "form-control form-control-sm" , @Id = "searchLanguageName" })
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped- table-bordered table-hover table-checkable" id="TblUser">
                        <thead>
                            <tr>
                                <th> Id </th>
                                <th> Language Name</th>
                                <th> <input type="checkbox" class="filter-checkbox" value="Yes" /> Active </th>
                                <th> Actions </th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

@section Scripts{
    <script>
        var RoleIsEdit = @(SessionHelper.RoleMenuList.FirstOrDefault(m => m.MenuName == "LanguageMaster").IsEdit == true ? "true" : "false");
        var roleTable = null;
        function BindData()
        {
            if (sessionStorage.getItem("searchLanguageName") != undefined && sessionStorage.getItem("searchLanguageName") != "") {
                $('#searchLanguageName').val(sessionStorage.getItem("searchLanguageName"));
            }              
            var searchLanguageName = "";
            var textsearchLanguageId = $("#searchLanguageName").val();
            var Search = "";
          //  var txtSearch = $("#TblUser_filter input").val();

            if (textsearchLanguageId != "" && textsearchLanguageId != undefined)
            {
                searchLanguageName = textsearchLanguageId;
            }
            //if (txtSearch != "" && txtSearch != undefined)
            //{
            //    Search = txtSearch;
            //}
            //if (roleTable != undefined && roleTable != null) {
            //    roleTable.destroy();
            //}
            var QueryString = "";
            QueryString += `searchLanguageId=${searchLanguageName}`;
           // QueryString += `&Search=${Search}`;
            $("#TblUser").dataTable().fnDestroy();
            roleTable = $('#TblUser').dataTable({
                'ajax': {
                    "type": "GET",
                   
                    "url": '@Url.Action("GetMasterLanguage", "LanguageMaster")?' + QueryString,
                    "dataSrc": function (e) {
                        if (e.inactivecount == 0) {

                            $(".filter-checkbox").selected(true)
                        }
                        return e.languageMastersList;
                    },                   
                },
                'order': [[1, "asc"]],
                'columns': [
                    { "data": "languageId", "orderable": false,"visible": false },
                    { "data": "languageName", "orderable": true },
                    {
                        "data": "isActive", "orderable": false,
                        "render": function (data, type, row) {                            
                            if (data == true) {
                                return `<span onclick="LangaugeMasterDelete('` + row.languageId + `','Yes','` + row.languageName + `')" class=\"btn btn-success btn-sm\">Yes</span>`
                            }
                            else {
                                return `<span onclick="LangaugeMasterDelete('` + row.languageId + `','No','` + row.languageName + `')" class=\"btn btn-danger btn-sm\">No</span>`
                            }

                        }
                    },
                    {
                        "sClass": "action", "width": "10%", "visible": true, "orderable": false,
                        "render": function (data, type, row) {
                            var editvalue = "";
                            if (RoleIsEdit == true){
                            //    var updatelanguage = '@Url.Action("ManageLanguageMaster", "LanguageMaster")?LanguageId=' + row.languageId;
                                editvalue = '<a href=# onclick=EditLanguage(' + row.languageId+') class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="tooltip" title="Edit"><i class="la la-edit"></i></a>'
                            }
                            return editvalue
                        }
                    }
                ],                
                initComplete: function () {
                    if (sessionStorage.getItem("LanguagePaging") != undefined) {
                        var pagecount = sessionStorage.getItem("LanguagePaging");
                        if (pagecount != "") {
                            pagecount = parseInt(sessionStorage.getItem("LanguagePaging"));
                        }
                        roleTable.DataTable().page(pagecount).draw(false);
                        sessionStorage.clear();
                                           }
                }
            });
            if (sessionStorage.getItem("searchMappedGrid") != undefined) {
                roleTable.fnFilter(sessionStorage.getItem("searchMappedGrid"));
            }
           
        }
           function EditLanguage(Id) {
             if (window.sessionStorage) {
                 sessionStorage.setItem("searchMappedGrid", $('#TblUser_filter input').val());
                 var info = $('#TblUser').DataTable().page.info();
                if (info != undefined) {
                    if (info.page != undefined) {
                        sessionStorage.setItem("LanguagePaging", info.page);
                    }
                }
                 sessionStorage.setItem("searchLanguageName", $('#searchLanguageName').val());                 
            }
               var Edittxt = '@Url.Action("ManageLanguageMaster", "LanguageMaster")?LanguageId=' + Id;
            window.location = Edittxt;
        }


        $('#searchLanguageName').on('change', function () {

            BindData();
        });
        $(document).ready(function () {



            $('.filter-checkbox').on('change', function (e) {
                var searchTerms = "Yes";
                $.each($('.filter-checkbox'), function (i, elem) {
                    if ($(elem).prop('checked')) {
                        roleTable.api().column(2).search(searchTerms).draw();
                    }
                    else {
                        roleTable.api().column(2).search('No').draw();
                    }
                })
            });

            //$('#srLanguageName').on('change', function (e) {
            //    var searchTerms = $(this).val();
            //    roleTable.column(1).search(searchTerms).draw();
            //});
            BindData();
        });



        var DeleteDataId = 0;

        function LangaugeMasterDelete(LanguageMasterId,IsActive,LanguageName) {
            DeleteDataId = LanguageMasterId;
            if (IsActive == 'Yes') {
                $('#ActivestatuschangeHeader').html('Inactivate Language');
                $('#ActivestatuschangeText').html('Are you sure you wish to change the status of Language <b>' + LanguageName +'</b> to Inactive? This will hide this language from all dropdowns.');
            }
            else {
                $('#ActivestatuschangeHeader').html('Activate Language');
                $('#ActivestatuschangeText').html('Are you sure you wish to change the status of Language <b>' + LanguageName +'</b> to Active? This will make this language available to users.');
            }
            $('#DeleteConfirmModal').show();

        }

        function LangaugeMasterConfirm(Id) {
            window.location = '@Url.Action("LanguageMasterDelete", "LanguageMaster")?id=' + DeleteDataId;
        }

        $('#Close').click(function () {
            $('#DeleteConfirmModal').hide();
        })

        $('#btncancel').click(function () {
            $('#DeleteConfirmModal').hide();
        })




    </script>
}

