﻿@model ImagingUtilizationUpload.Models.LanguageMaster
@{
    ViewData["Title"] = "Language";
    ViewData["ActivePage"] = "Language";
}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid" style="margin-top:20px;">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        @if (@ViewBag.LanguageMasterId > 0)
                        {
                            <h3 class="kt-portlet__head-title">Update Language</h3>
                        }
                        else
                        {
                            <h3 class="kt-portlet__head-title">Create Language</h3>
                        }
                    </div>
                </div>
                <form class="kt-form" autocomplete="off" enctype="multipart/form-data">
                    <div class="kt-portlet__body">
                        <input type="hidden" asp-for="LanguageId" id="LanguageId" />



                        <div class="form-group row">
                            <label class="col-lg-3 col-sm-12 col-form-label">Language Name</label>
                            <div class="col-lg-6 col-md-6 col-sm-6">

                                <input asp-for="LanguageName" id="LanguageName" required class="form-control" placeholder="Language Name" />
                                <span asp-validation-for="LanguageName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions kt-form__actions--right">
                            <div class="row">
                                <div class="col-lg-9 offset-lg-3">
                                    <div class="kt-align-left">
                                        <button type="button" id="SaveLanguageMasterButton" onclick="SaveLanguageMaster();" class="btn btn-brand">Submit</button>
                                        <button type="button" id="SaveLanguageMasterButtonLoading" style="display:none;" onclick="SaveLanguageMaster();" class="btn btn-brand" disabled>
                                            Submiting...
                                        </button>
                                        <a href="/LanguageMaster/Index" class="btn btn-secondary">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            
            if (@ViewBag.LanguageMasterId > 0) {
                EditLanguageMaster();
            }
        });


        function SaveLanguageMaster() {

            $('#SaveLanguageMasterButton').hide();
            $('#SaveLanguageMasterButtonLoading').show();

            $.ajax({
                type: "POST",
                url: '@Url.Action("ManageLanguageMaster", "LanguageMaster")',
                data: ({
                    Id: $("#LanguageId").val(),
                    Name: $("#LanguageName").val(),
                }),
                dataType: 'json',
                success: function (response) {
                    debugger;
                    window.location.href = "/LanguageMaster/Index";
                    $('#SaveLanguageMasterButton').show();
                    $('#SaveLanguageMasterButtonLoading').hide();
                },
                error: function (error) {
                    $('#SaveLanguageMasterButton').show();
                    $('#SaveLanguageMasterButtonLoading').hide();
                    toastr.error("Opps!", "An error occured ! Please try again.", "error");
                }
            });
        }

        function EditLanguageMaster() {
            debugger;
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetLanguageMasterData", "LanguageMaster")',
                dataType: 'json',
                data: ({
                    Id: @ViewBag.LanguageMasterId,
                }),
                dataType: 'json',
                success: function (response) {
                    $("#LanguageId").val(response.languageId);
                    $("#LanguageName").val(response.languageName);
                   
                },
                error: function (error) {                   
                    toastr.error("Opps!", "An error occured ! Please try again.", "error");
                }
            });
        }



    </script>
}
