﻿<html lang="en">

<!-- begin::Head -->
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Add user page example">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
    <link href="~/assets/css/pages/wizards/wizard-v3.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .kt-wizard-v3[data-ktwizard-state="between"] [data-ktwizard-type="action-next"] {
            display: inline-block;
            font-size: 0px;
        }

        /* .kt-wizard-v3[data-ktwizard-state="between"] [data-ktwizard-type="action-next"]:before {
                        content: "Upload";
                        text-indent: 0;
                        display: block;
                        line-height: initial;
                        font-size: 1rem;
                    }*/

        /*.kt-wizard-v3 [data-ktwizard-type="action-prev"] {
                    display: none !important;
                }*/

        .modal1 {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            opacity: 0;
            visibility: hidden;
            transform: scale(1.1);
            transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
            z-index: 1;
        }

        .modal-content1 {
            position: absolute;
            background-color: white;
            padding: 1rem 1.5rem;
            border-radius: 0.5rem;
            padding: 5%;
            width: 100%;
        }

        .close-button {
            float: right;
            width: 1.5rem;
            line-height: 1.5rem;
            text-align: center;
            cursor: pointer;
            border-radius: 0.25rem;
            background-color: lightgray;
        }

            .close-button:hover {
                background-color: darkgray;
            }

        .show-modal {
            opacity: 1;
            visibility: visible;
            transform: scale(1.0);
            transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
        }

        div#kt_wizard_v3 {
            position: relative;
            overflow: hidden;
        }

        .modal1.show-modal h5, .modal1.show-modal p {
            color: #444;
        }

            .modal1.show-modal h5.text-right {
                margin-left: auto;
                margin-right: 10px;
            }

        span.close-button {
            position: absolute;
            top: 10px;
            right: 10px;
        }

        .repeater-scroll {
            overflow-x: hidden;
            height: 70vh;
        }

            .repeater-scroll::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                border-radius: 10px;
                background-color: #F5F5F5;
            }

            .repeater-scroll::-webkit-scrollbar {
                width: 12px;
                background-color: #F5F5F5;
            }

            .repeater-scroll::-webkit-scrollbar-thumb {
                border-radius: 10px;
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
                background-color: #555;
            }

        .dropdown-menu {
            left: inherit !important;
        }
    </style>
    <style>
        .kt-wizard-v3[data-ktwizard-state="between"] [data-ktwizard-type="action-next"] {
            display: inline-block;
            font-size: 0px;
        }

            .kt-wizard-v3[data-ktwizard-state="between"] [data-ktwizard-type="action-next"]:before {
                content: "Upload";
                text-indent: 0;
                display: block;
                line-height: initial;
                font-size: 1rem;
            }

        .kt-wizard-v3[data-ktwizard-state="between"] [data-ktwizard-type="action-upload"]:before {
            content: "Upload";
            text-indent: 0;
            display: block;
            line-height: initial;
            font-size: 1rem;
        }


        /*.kt-wizard-v3 [data-ktwizard-type="action-prev"] {
                    display: none !important;
                }*/

        .kt-wizard-v3[data-ktwizard-state="last"] [data-ktwizard-type="action-submit"] {
            display: inline-block;
            font-size: 0px;
            margin: auto 0 auto auto;
        }

            .kt-wizard-v3[data-ktwizard-state="last"] [data-ktwizard-type="action-submit"]:after {
                content: "Finished";
                text-indent: 0;
                display: block;
                line-height: initial;
                font-size: 1rem;
            }

        .kt-wizard-v3 .kt-wizard-v3__nav {
            padding: 4rem;
            border-bottom: 1px solid transparent;
        }
    </style>

    <style>
        .drp-toggle {
            position: absolute;
            background: none;
            content: "";
            z-index: 9999;
            width: 100%;
            height: 38px;
            cursor: pointer;
        }

        .select2-container--default .select2-selection--single {
            display: block !important;
            width: 100% !important;
            height: calc(1.5em + 1.3rem + 2px) !important;
            padding: 5px !important;
            font-size: 1rem !important;
            font-weight: 400 !important;
            line-height: 1.5 !important;
            color: #495057 !important;
            background-color: #fff !important;
            background-clip: padding-box !important;
            border: 1px solid #e2e5ec !important;
            border-radius: 4px !important;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
        }

            .select2-container--default .select2-selection--single .select2-selection__arrow {
                height: 40px !important;
            }

        .select2-container {
            width: 100% !important;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <div class="kt-grid kt-grid--hor kt-grid--root">
        <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
            <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
                <div class="kt-portlet">
                    <div class="kt-portlet__body kt-portlet__body--fit">
                        <div class="kt-wizard-v3" id="kt_wizard_v3" data-ktwizard-state="step-first">
                            <div class="kt-wizard-v3__nav">
                                <div class="kt-wizard-v3__nav-line"></div>
                                <div class="kt-wizard-v3__nav-items">
                                    <a class="kt-wizard-v3__nav-item" href="@Url.Action("Index","Home")" data-ktwizard-type="step" data-ktwizard-state="current">
                                        <span>1</span>
                                        <i class="fa fa-check"></i>
                                        <div class="kt-wizard-v3__nav-label">Device Validation</div>
                                    </a>
                                    <a class="kt-wizard-v3__nav-item" href="@Url.Action("Index","Home")" data-ktwizard-type="step">
                                        <span>2</span>
                                        <i class="fa fa-check"></i>
                                        <div class="kt-wizard-v3__nav-label">File Upload</div>
                                    </a>
                                    <a class="kt-wizard-v3__nav-item" href="@Url.Action("Index","Home")" data-ktwizard-type="step">
                                        <span>3</span>
                                        <i class="fa fa-check"></i>
                                        <div class="kt-wizard-v3__nav-label">Upload Summary</div>
                                    </a>
                                </div>
                            </div>

                            <!--end:Nav -->
                            <!--begin:Form-->
                            <form class="kt-form" id="kt_form">

                                <!--begin:Step 1-->
                                <div class="kt-container--fluid kt-grid__item kt-grid__item--fluid" data-ktwizard-type="step-content" data-ktwizard-state="current">
                                    <div class="kt-heading kt-heading--md">Site Visit Utilization Upload</div>
                                    <div class="kt-separator kt-separator--height-xs"></div>
                                    <div class="kt-form__section kt-form__section--first">
                                        <div class="form-group row">
                                            
                                            <label class="col-lg-3 col-sm-3 col-form-label">Serial Number: *</label>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <input type="text" class="form-control" name="username" placeholder="Enter serial number" value="" id="serialnumber">
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <button class="btn btn-primary default-btn ml-2" id="btnValidate" type="button" onclick="ValiditeSerialNo()">Validate</button>
                                                <button class="btn btn-primary default-btn ml-2" style="display:none;" disabled id="btnValidateHdn" type="button">Validating..</button>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-sm-3 col-form-label">Account Name: </label>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <span class="accountname"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-sm-3 col-form-label">Location:</label>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <br />
                                                <span class="address"></span><br />
                                                <span class="city"></span><br />
                                                <span class="state"></span><br />
                                                <span class="country"></span><br />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-sm-3 col-form-label">Device Type:</label>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <span class="d_type"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-sm-3 col-form-label">Last Utilization Upload:</label>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <span class="utilize">-</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end:Step 1-->
                                <!--begin:Step 2-->
                                <div class="kt-container--fluid kt-grid__item kt-grid__item--fluid kt-wizard-v3__nav" data-ktwizard-type="step-content">
                                    <div class="kt-heading kt-heading--md">Site Visit Utilization Upload</div>
                                    <div class="kt-separator kt-separator--height-xs"></div>
                                    <div class="kt-form__section kt-form__section--first">
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-sm-3 col-form-label">Location Language *</label>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <select name="lang" class="form-control" id="lang">
                                                    @*<option value="" selected="selected">Select Language</option>
                                                        <option value="NU">English</option>
                                                        <option value="NF">French</option>
                                                        <option value="KP">German</option>
                                                        <option value="MP">Italian</option>*@
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-sm-3 col-form-label">Utilization Upload:</label>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                @*<input type="file" class="form-control" name="utilize">*@
                                                <input type="file" id="fileUpload" class="form-control fileUpload">
                                            </div>
                                            @*<div class="col-lg-3 col-md-3 col-sm-3">
                                                <button id="btnUpload" class="btn btn-primary default-btn next-step text-white">Submit</button>
                                                <button class="btn btn-primary default-btn next-step text-white" style="display:none;fill:#fff" disabled id="btnUploadHdn" type="button">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z" />
                                                <path d="M1 14.5a6.496 6.496 0 0 1 3.064-5.519 8.001 8.001 0 0 1 15.872 0 6.5 6.5 0 0 1-2.936 12L7 21c-3.356-.274-6-3.078-6-6.5zm15.848 4.487a4.5 4.5 0 0 0 2.03-8.309l-.807-.503-.12-.942a6.001 6.001 0 0 0-11.903 0l-.12.942-.805.503a4.5 4.5 0 0 0 2.029 8.309l.173.013h9.35l.173-.013zM13 13v4h-2v-4H8l4-5 4 5h-3z" /></svg> Uploading..</button>

                                                </div>*@
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-3 col-md-3 col-sm-3"></div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <a onclick="OpenGetFetchUnMatchedProtocals();" href="javascript:;" class="GetFetchUnMatchedProtocals" style="display:none">Click here to view un-mapped protocols</a>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3"></div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-sm-3 col-form-label">Account Name: </label>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <span class="accountname"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-sm-3 col-form-label">Location:</label>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <br />
                                                <span class="address"></span><br />
                                                <span class="city"></span><br />
                                                <span class="state"></span><br />
                                                <span class="country"></span><br />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-sm-3 col-form-label">Device Type:</label>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <span class="d_type"></span>
                                            </div>
                                        </div>
                                        @*<div class="form-group row">
                                            <label class="col-lg-3 col-sm-3 col-form-label">Last Utilization Upload:</label>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                            <span class="utilize"></span>
                                            </div>
                                            </div>*@
                                    </div>
                                </div>
                                <!--end:Step 2-->
                                <!--begin:Step 3-->
                                <div class="kt-container--fluid kt-grid__item kt-grid__item--fluid kt-wizard-v3__nav" data-ktwizard-type="step-content">
                                    <div class="kt-form__section kt-form__section--first">
                                        <div class="kt-heading kt-heading--md">Upload Successful!</div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-sm-3 col-form-label">Serial Number:</label>
                                            <div class="col-lg-6 col-md-6 col-sm-6 DeviceSerialNumber">
                                                {Device Serial Number}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-sm-3 col-form-label">Account Name:</label>
                                            <div class="col-lg-6 col-md-6 col-sm-6 accountname">
                                                {Display the account name from Salesforce associated with this device}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-sm-3 col-form-label">Location:</label>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <span class="address"></span>
                                                <span class="city">{City}</span>
                                                <span class="state">{State/Provice}</span>
                                                <span class="country">Country</span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-sm-3 col-form-label">Device Type:</label>
                                            <div class="col-lg-6 col-md-6 col-sm-6 d_type">
                                                <span>{Display the device type}</span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-sm-3 col-form-label">Records Processed:</label>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <span id="NoOfRecordsProcessed"></span>
                                                (Records since last upload)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end:Step 3-->
                                @*<div class="modal1" id="model1">
                                    <div class="modal-content1">
                                    <span class="close-button">×</span>
                                    <div class="kt-heading kt-heading--md"> Protocol Translation Mapping</div>

                                    <p class="mb-4">The following Protocols need to be mapped to the English equivalent for each protocol name and click Update Mappings when finished.</p>

                                    <div class="row">
                                    <div class="col-lg-6">
                                    <h5 class="mb-3">Protocol to be Mapped</h5>
                                    <div class="form-group">

                                    <input type="text" class="form-control" name="city" placeholder="" value="Non English Protocol Name">
                                    </div>
                                    <div class="form-group">

                                    <input type="text" class="form-control" name="state" placeholder="" value="Non English Protocol Name">
                                    </div>
                                    </div>
                                    <div class="col-lg-6">
                                    <div class="form-group">
                                    <h5 class="mb-3">Protocol to be Mapped</h5>
                                    <select name="d" class="form-control">
                                    <option value="">Please Select the English Equivalent</option>
                                    <option value="AF">Afghanistan</option>
                                    <option value="AX">Åland Islands</option>
                                    <option value="AL">Albania</option>
                                    </select>
                                    </div>
                                    <div class="form-group">
                                    <select name="e" class="form-control">
                                    <option value="">Please Select the English Equivalent</option>
                                    <option value="AF">Afghanistan</option>
                                    <option value="AX">Åland Islands</option>
                                    <option value="AL">Albania</option>
                                    </select>
                                    </div>
                                    </div>
                                    <div class="col-md-12"><h5 class="text-right">2 of 2 Protocol Names have been mapped</h5></div>
                                    <div class="col-md-12 text-right">
                                    <div class="btn btn-brand btn-md btn-tall btn-wide btn-bold btn-upper close-button1 ml-auto mt-4">Update Mapings</div>
                                    </div>
                                    </div>
                                    </div>
                                    </div>*@
                                <!--begin:Form Actions -->
                                <div class="kt-form__actions">
                                    <div class="btn btn-outline-brand btn-md btn-tall btn-wide btn-bold btn-upper action-prev" data-ktwizard-type="action-prev">
                                        Previous
                                    </div>
                                    <div class="btn btn-brand btn-md btn-tall btn-wide btn-bold btn-upper trigger" data-ktwizard-type="action-submit" id="action-submit">
                                        Submit
                                    </div>
                                    <div class="btn btn-brand btn-md btn-tall btn-wide btn-bold btn-upper" data-ktwizard-type="action-next" id="btnNextStep" style="cursor: pointer;display:none;">
                                        Next Step
                                    </div>
                                    <div class="btn btn-brand btn-md btn-tall btn-wide btn-bold btn-upper" data-ktwizard-type="action-Upload" id="btnupload" style="cursor: pointer; display: none;">
                                        Upload
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        @*<button id="btnUpload" class="btn btn-primary default-btn next-step text-white">Submit</button>*@
                                        <button class="btn btn-primary default-btn next-step text-white" style="display:none;fill:#fff" disabled id="btnUploadHdn" type="button">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                                <path fill="none" d="M0 0h24v24H0z" />
                                                <path d="M1 14.5a6.496 6.496 0 0 1 3.064-5.519 8.001 8.001 0 0 1 15.872 0 6.5 6.5 0 0 1-2.936 12L7 21c-3.356-.274-6-3.078-6-6.5zm15.848 4.487a4.5 4.5 0 0 0 2.03-8.309l-.807-.503-.12-.942a6.001 6.001 0 0 0-11.903 0l-.12.942-.805.503a4.5 4.5 0 0 0 2.029 8.309l.173.013h9.35l.173-.013zM13 13v4h-2v-4H8l4-5 4 5h-3z" />
                                            </svg> Uploading..
                                        </button>
                                        @*<button type="submit" class="btn btn-primary default-btn next-step text-white">Submit</button>*@
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal For Update Mappings -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Mappings</h5>
                    </div>
                    <div class="modal-body">
                        <div class="kt-form kt-container">
                            <form class="repeater repeater-scroll">
                                <div data-repeater-list="category-group" id="Protocol_Repeater">
                                </div>

                            </form>
                            <div class="kt-portlet__foot">
                                <div class="kt-form__actions kt-form__actions--right">
                                    <div class="row" style="padding-top: 15px;border-top: 1px solid #ccc;">
                                        <div class="col-lg-9 offset-lg-3">
                                            <div class="kt-align-left">
                                                <button type="button" id="SaveProtocolMasterButton" onclick="UpdateProtocolMaster();" class="btn btn-brand">Update Mappings</button>
                                                <button type="button" id="SaveProtocolMasterButtonLoading" style="display:none;" onclick="SaveLanguageMaster();" class="btn btn-brand" disabled>
                                                    Updating Mappings...
                                                </button>
                                                <a href="#" class="btn btn-secondary btnCancel" onclick="btnCancel()">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

@section Scripts{


<script src="~/assets/plugins/global/plugins.bundle.js" type="text/javascript"></script>
<script src="~/assets/js/scripts.bundle.js" type="text/javascript"></script>
<script src="~/assets/js/pages/custom/users/add.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>

    var MasterSqliteId = 0;
    var arrData, languageArrData = [];
    let theSelection = "";


    $(document).ready(function () {
        $("#btnNextStep").hide();
        $("#btnupload").hide();
        GetLanguageList();
        onLoadProtocolData();
    });

    var modal = document.querySelector(".modal1");
    var trigger = document.querySelector(".trigger");
    var closeButton = document.querySelector(".close-button");
    var closeButton1 = document.querySelector(".close-button1");

    function toggleModal() {
        modal.classList.toggle("show-modal");
    }

    function windowOnClick(event) {
        if (event.target === modal) {
            toggleModal();
        }
    }

    trigger.addEventListener("click", toggleModal);
    if (closeButton != null && closeButton != undefined) {
        closeButton.addEventListener("click", toggleModal);
    }
    if (closeButton1 != null && closeButton1 != undefined) {
        closeButton1.addEventListener("click", toggleModal);
    }
    window.addEventListener("click", windowOnClick);

    var Objtokendetails = "";
    var ObjGetSerialNumberAccountdetails = "";
    var ObjGetAddressDetails = "";

    function ValiditeSerialNo() {
        if ($('#serialnumber').val() != '' && $('#serialnumber').val() != undefined) {
            $("#btnValidateHdn").show();
            $("#btnValidate").hide();

            $.ajax({
                url: '@Url.Action("GetTokenDetails", "Home")',
                type: "GET",
                dataType: "json",
                success: function (data) {
                    debugger;
                    if (data.success == true) {
                        var obj = JSON.parse(data.tokendetails);
                        Objtokendetails = data.tokendetails;
                        //  GetSerialNumberAccountdetails(obj.access_token, $("#serialnumber").val());
                        $.ajax({
                            url: '@Url.Action("GetSerialNumberAccountdetails", "Home")',
                            type: "GET",
                            data: ({
                                token: obj.access_token,
                                Serialnumber: $("#serialnumber").val()
                            }),
                            dataType: "json",
                            success: function (data) {
                                if (data.success == true) {
                                    if (data.objSalesfAccount.records.length > 0) {
                                        if (data.objSalesfAccount.done == true) {

                                            $(".DeviceSerialNumber").text($("#serialnumber").val());
                                            GetDeviceName(obj.access_token, data.objSalesfAccount.records[0].type__c, data.objSalesfAccount.records[0].account__c);
                                            $(".d_type").text(data.objSalesfAccount.records[0].type__c);
                                            GetLastUtilizationDate($("#serialnumber").val());
                                            ObjGetSerialNumberAccountdetails = JSON.stringify(data.objSalesfAccount);
                                            $("#btnValidate").removeClass("btn-primary");
                                            $("#btnValidate").addClass("btn-success");
                                            $("#btnValidate").text("Validated");
                                            $("#btnValidate").prop('disabled', true);
                                            $("#btnValidateHdn").hide();
                                            $("#btnValidate").show();
                                            $("#btnNextStep").show();
                                        }
                                    }
                                    else {
                                        $("#btnNextStep").hide();
                                        $("#btnValidateHdn").hide();
                                        $("#btnValidate").show();
                                        $("#btnValidate").addClass("btn-primary");
                                        $("#btnValidate").removeClass("btn-success");
                                        $("#btnValidate").text("Validate");
                                        $("#btnValidate").prop('disabled', false);
                                        $(".accountname").text("");
                                        $(".address").text("");
                                        $(".city").text("");
                                        $(".state").text("");
                                        $(".country").text("");
                                        $(".d_type").text("");
                                        swal.fire({
                                            icon: 'error',
                                            title: 'Oops...',
                                            text: 'Serial Number does not match.',
                                        })
                                    }
                                }
                                else {
                                    swal.fire({
                                        icon: 'error',
                                        title: 'Oops...',
                                        text: data.errormsg,
                                    })
                                    $("#btnValidateHdn").hide();
                                    $("#btnValidate").show();
                                }
                            },
                            error: function (error) {
                                console.log(`Error ${error}`);
                            }
                        });
                    }
                    else {
                        swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: data.errormsg
                        });
                        $("#btnValidateHdn").hide();
                        $("#btnValidate").show();
                    }
                },
                error: function (error) {
                    $("#btnValidateHdn").hide();
                    $("#btnValidate").show();
                    console.log(`Error ${error}`);
                }
            });
        }
        else {
            swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Please enter serial number.',
            })
        }
    }

    //function GetSerialNumberAccountdetails(datas,serialnumber) {

    //}

    function GetAddressDetails(data, account__c) {
        $.ajax({
            url: '@Url.Action("GetAddressDetails", "Home")',
            type: "GET",
            data: ({
                token: data,
                Account__c: account__c,
            }),
            dataType: "json",
            success: function (data) {
                if (data.success == true) {
                    if (data.objSalesfAccount.done == true) {
                       
                        $(".accountname").text(data.objSalesfAccount.records[0].name);
                        if (data.objSalesfAccount.records[0].shippingAddress != null) {
                            $(".address").text(data.objSalesfAccount.records[0].shippingAddress.street);
                            $(".city").text(data.objSalesfAccount.records[0].shippingAddress.city);
                            $(".state").text(data.objSalesfAccount.records[0].shippingAddress.state);
                            $(".country").text(data.objSalesfAccount.records[0].shippingAddress.country);
                        }
                        else if (data.objSalesfAccount.records[0].billingAddress != null) {
                            $(".address").text(data.objSalesfAccount.records[0].billingAddress.street);
                            $(".city").text(data.objSalesfAccount.records[0].billingAddress.city);
                            $(".state").text(data.objSalesfAccount.records[0].billingAddress.state);
                            $(".country").text(data.objSalesfAccount.records[0].billingAddress.country);
                        }


                        ObjGetAddressDetails = JSON.stringify(data.objSalesfAccount);
                    }
                }
                    else {
                        swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: data.errormsg,
                        });
                        $("#btnNextStep").hide();
                    }
                

            },
            error: function (error) {
                console.log(`Error ${error}`);
            }
        });
    }

    function GetDeviceName(datas, data, account__c) {
        $.ajax({
            url: '@Url.Action("GetDeviceName", "Home")',
            type: "GET",
            data: ({
                deviceName: data,
            }),
            dataType: "json",
            success: function (data) {
                if (data.success == true) {
                    if (data.deviceNameIsFound == true || data.deviceNameIsFound == "true" || data.deviceNameIsFound == "True") {
                        $("#btnNextStep").show();
                        GetAddressDetails(datas, account__c);

                    }
                    else {
                        $("#btnNextStep").hide();
                        $(".accountname").text("");
                        $(".address").text("");
                        $(".city").text("");
                        $(".state").text("");
                        $(".country").text("");
                        $(".d_type").text("");
                        swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Device Name Not Match',
                        })
                    }
                }
                else {
                    swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: data.errormsg,
                    })
                }
            },
            error: function (error) {
                console.log(`Error ${error}`);
            }
        });
    }


    $("#serialnumber").on('input', function () {
        $("#btnValidate").removeClass("btn-success");
        $("#btnValidate").addClass("btn-primary");
        $("#btnValidate").text("Validate");
        $("#btnValidate").prop('disabled', false);
    });

    function BtnSaveUpload() {

        var files = $('#fileUpload').prop("files");
        if ($('#fileUpload').prop("files").length > 0) {

        var url = "/Home/OnPostMyUploader";
        formData = new FormData();
        formData.append("MyUploader", files[0]);
        formData.append("SerialNumber", $("#serialnumber").val());
        formData.append("SalesForceDetails", Objtokendetails);
        formData.append("GetSerialNumberAccountdetails", ObjGetSerialNumberAccountdetails);
        formData.append("GetAddressDetails", ObjGetAddressDetails);
        formData.append("LanguageId",parseInt($("#lang").val()));

        swal.fire({
            imageUrl: '/images/loader.gif',
            imageHeight: 60,
            imageWidth: 60,
            text: 'Please wait while we are processing the data do not reload the page',
            showCancelButton: false,
            showConfirmButton: false,
            allowOutsideClick: false,
            allowEscapeKey: false
        })

        $("#btnUploadHdn").show();
        $("#btnupload").hide();
        $("#btnNextStep").hide();
        $(".btnCancel").show();


        jQuery.ajax({
            type: 'POST',
            url: url,
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            success: function (repo) {
                swal.close()
                if (repo.status == "success") {

                    MasterSqliteId = parseInt(repo.masterSqlLiteId);

                    GetFetchUnMatchedProtocals(parseInt(repo.masterSqlLiteId));
                    $("#btnupload").hide();
                    // $("#btnUpload").show();
                    $("#btnUploadHdn").hide();
                    $("#btnNextStep").hide();
                    //  $("#btnUpload").prop('disabled', true);
                    $(".fileUpload").prop('disabled', true);
                    //alert("File is uploaded successfully");

                }
                else {
                    swal.close();
                    toastr.error(repo.messageText);
                    $("#btnupload").show();
                    $("#btnUploadHdn").hide();
                    $("#btnNextStep").hide();
                }
            },
            error: function () {
                swal.close();
                alert("Error occurs");
                $("#btnupload").show();
                $("#btnUploadHdn").hide();
                $("#btnNextStep").hide();
            }
        });
        }
        else {
            toastr.error("Please select at least one file");
                $("#btnNextStep").hide();
                $("#btnUploadHdn").hide();
                $("#btnupload").show();
        }
    }

    function GetLanguageList() {

        $.ajax({
            url: '@Url.Action("GetLanguageList", "Home")',
            type: "GET",
            dataType: "json",
            success: function (data) {
                languageArrData = [];

                languageArrData = data.languageMaster;

                $("#lang").empty;

                var Drophtml = "";
                for (var i = 0; i < data.languageMaster.length; i++) {
                    Drophtml += "<option value=" + data.languageMaster[i].languageId + ">" + data.languageMaster[i].languageName+"</option>"
                }
                $("#lang").append(Drophtml);
            },
            error: function (error) {
                console.log(`Error ${error}`);
            }
        });

    }


    $(".action-prev").on('click', function () {
        $("#btnNextStep").show();
        $("#btnupload").hide();
    });
    
    $("#btnupload").on('click', function (e) {
        BtnSaveUpload();
      //  $(".fileUpload").val('');
    });
    $("#btnNextStep").on('click', function () {

        $("#btnupload").show();
      //  $("#btnUpload").prop('disabled', false);
        $(".fileUpload").prop('disabled', false);
      //  $(".fileUpload").val('');
        $("#btnNextStep").hide();
    });


    function SaveProtocolMaster() {

        $('#SaveProtocolMasterButton').hide();
        $('#SaveProtocolMasterButtonLoading').show();

        $.ajax({
            type: "POST",
            url: '@Url.Action("ManageProtocolMaster", "ProtocolMaster")',
            data: ({
                Id: $("#ProtocolId").val(),
                Name: $("#ProtocolName").val(),
            }),
            dataType: 'json',
            success: function (response) {
                window.location.href = "/ProtocolMaster/Index";
                $('#SaveProtocolMasterButton').show();
                $('#SaveProtocolMasterButtonLoading').hide();
            },
            error: function (error) {
                $('#SaveProtocolMasterButton').show();
                $('#SaveProtocolMasterButtonLoading').hide();
                toastr.error("Opps!", "An error occured ! Please try again.", "error");
            }
        });
    }



    function UpdateProtocolMaster() {
        swal.fire({
            imageUrl: '/images/loader.gif',
            imageHeight: 60,
            imageWidth: 60,
            text: 'Please Wait We Are Uploading data on salesforce...',
            showCancelButton: false,
            showConfirmButton: false,
            allowOutsideClick: false,
            allowEscapeKey: false
        });
        let hasId = true;
       // $(".btnCancel").hide();
        $('#SaveProtocolMasterButton').hide();
        $('#SaveProtocolMasterButtonLoading').show();
        var ProtocolNamesStr = $("input[id='ProtocolNames']").map(function () { return $(this).val(); }).get().toString();

        var MapedProtocolSelectStr = $(".MapedProtocolCls option:selected").map(function () {

            if ($(this).text() == '' || $(this).text() == null) {
                hasId = false;
                return;
            }
            return $(this).text();
        }).get().join(',');

        if (hasId == false) {
            toastr.error("Opps!", "Please fill in all the mapped protocols.", "error");
            $('#SaveProtocolMasterButton').show();
            $('#SaveProtocolMasterButtonLoading').hide();
            return;
        }

        var MapedLanguageSelectStr = $(".LanguageCls option:selected").map(function () {
            return $(this).val();
        }).get().join(',');

        if ((ProtocolNamesStr == "" || ProtocolNamesStr == null) && ($('#EditProtocolNames').val() == "" || $('#EditProtocolNames').val() == null) ) {
            toastr.error("Protocol name is required");
            $('#SaveProtocolMasterButton').show();
            $('#SaveProtocolMasterButtonLoading').hide();
        } else if ((MapedProtocolSelectStr == "" || MapedProtocolSelectStr == null) && ($('#EditMapedProtocol').val() == "" || $('#EditMapedProtocol').val() == null)) {
            toastr.error("Mapped protocol is required");
            $('#SaveProtocolMasterButton').show();
            $('#SaveProtocolMasterButtonLoading').hide();
        } else {
            $.ajax({
               type: "POST",
               url: '@Url.Action("ManageProtocolMaster", "ProtocolMaster")',
               data: ({
                   Id: $("#ProtocolMappingId").val(),
                   Name: ProtocolNamesStr,
                   MapedProtocolSelect: MapedProtocolSelectStr,
                   MapedLanguageSelect: MapedLanguageSelectStr,
                   UpdateProtocolName: $('#EditProtocolNames').val(),
                   UpdateMapedProtocol: $('#EditMapedProtocol').val(),
                   UpdateLanguages: $('#EditLanguage').val(),

               }),
               dataType: 'json',
               success: function (response) {
                   //window.location.href = "/ProtocolMaster/Index";
                   $('#SaveProtocolMasterButton').show();
                   $('#SaveProtocolMasterButtonLoading').hide();

                   // UpdateSqlLiteMappedData
                   // UpdateSqlLiteMappedData
                    $.ajax({
                        url: '@Url.Action("UpdateSqlLiteMappedData", "Home")',
                        type: "GET",
                        data: ({
                            MasterSqliteId: MasterSqliteId,
                            languageId: $("#lang").val(),
                        }),
                        dataType: "json",
                        success: function (data) {
                            if (data.status == true) {
                                $("#exampleModal").modal('hide');
                                $("#btnNextStep").show();

                                //    swal.fire({
                                //        icon: 'success',
                                //        title: 'File Processed successfully.'
                                //    }).then(() => {
                                //        $("#btnupload").hide();
                                //        var wizardObj = new KTWizard('kt_wizard_v3', {
                                //            startStep: 2, // initial active step number
                                //            clickableSteps: false, // allow step clicking
                                //            navigation: false // disable default navigation handlers,
                                //        });
                                ////        NoOfProcessedReocrds();
                                //        wizardObj.goNext();
                                //   });

                                SaveDataInSalesForce();
                            }
                            else {
                                $('#SaveProtocolMasterButton').show();
                                swal.close();
                                $('#SaveProtocolMasterButtonLoading').hide();
                                toastr.error("Opps!", data.errormsg, "error");
                            }
                        },
                        error: function (error) {
                            console.log(`Error ${error}`);
                        }
                    });
               },
               error: function (error) {
                   $('#SaveProtocolMasterButton').show();
                   swal.close();
                   $('#SaveProtocolMasterButtonLoading').hide();
                   toastr.error("Opps!", "An error occured ! Please try again.", "error");
               }
            });
        }
        swal.close();
    }

    //DataRepeaterDelete
    function DataRepeaterDelete(RepeatId) {
        $('#datarepeater'+RepeatId).remove();
    }





    function MapedProtocolData() {
        var data = "";
        if (arrData.length > 0) {
            for (i = 0; i < arrData[0].length; i++) {
                data += '<option value="' + arrData[0][i] + '">' + arrData[0][i] + '</option>';
            }
        }
        return data;
    }

    function LanguageData() {
        var data = "";
        var selectedLang = $("#lang").val();
        if (languageArrData.length > 0) {
            for (i = 0; i < languageArrData.length; i++) {
                if (languageArrData[i].languageId == parseInt(selectedLang)) {
                    data += '<option selected value="' + languageArrData[i].languageId + '">' + languageArrData[i].languageName + '</option>';
                }
                else {
                    data += '<option value="' + languageArrData[i].languageId + '">' + languageArrData[i].languageName + '</option>';
                }

            }
        }

        return data;
    }

    function onLoadProtocolData() {
        arrData = [];
         $.ajax({
             type: "GET",
             async: false,
            url: '@Url.Action("GetMapedProtocolOption", "Home")',
            dataType: 'json',
            success: function (response) {
                arrData.push(response);
            },
            error: function (error) {
                toastr.error("Opps!", "An error occured ! Please try again.", "error");
            }
        });
    }

    function GetFetchUnMatchedProtocals(MasterSqliteId) {

        swal.fire({
            imageUrl: '/images/loader.gif',
            imageHeight: 60,
            imageWidth: 60,
            text: 'We fetching Un Matched Protocals',
            showCancelButton: false,
            showConfirmButton: false,
            allowOutsideClick: false,
            allowEscapeKey: false
        })

        $.ajax({
            url: '@Url.Action("GetFetchUnMatchedProtocals", "Home")',
            type: "GET",
            data: ({
                MasterSqliteId: MasterSqliteId,
                LanuguageId:parseInt($("#lang").val())
            }),
            dataType: "json",
            success: function (data) {
                if (data.unMatchedProtocol.length > 0) {
                    swal.close();
                    $("#exampleModal").modal('show');
                    $('#Protocol_Repeater').empty();

                    for (var i = 0; i < data.unMatchedProtocol.length; i++) {
                        addMore(data.unMatchedProtocol[i], i);
                    }


                }
                else {
                    //swal.fire({
                    //    icon: 'success',
                    //    title: 'File Processed successfully.'
                    //}).then(() => {
                        SaveDataInSalesForce();
                        $("#btnupload").hide();
                        var wizardObj = new KTWizard('kt_wizard_v3', {
                            startStep: 2, // initial active step number
                            clickableSteps: false, // allow step clicking
                            navigation: false // disable default navigation handlers,
                        });
                  //      NoOfProcessedReocrds();
                        wizardObj.goNext();
                  //  });
                    $("#btnNextStep").show();
                }

            },
            error: function (error) {
                swal.close()
                console.log(`Error ${error}`);
            }
        });
    }

    function addMore(ProtocolNames, Reapet) {
        console.log(ProtocolNames);
        var htmlData = "";

        htmlData += '<div data-repeater-item class="row align-items-end js-example-basic-single" id="datarepeater' + Reapet + '">';
        htmlData += '<div class="col-lg-3 col-md-3 col-sm-3">';
        htmlData += '<label class="col-lg-12 col-sm-12 col-form-label">Protocol Name</label>';
        htmlData += '<input id="ProtocolNames" required class="form-control" readonly value="' + ProtocolNames + '" />';
        htmlData += '<span class="text-danger"></span>';
        htmlData += '</div>';
        htmlData += '<div class="col-lg-4 col-md-4 col-sm-5">';
        htmlData += '<label class="col-lg-12 col-sm-12 col-form-label">Mapped Protocol</label>';
        htmlData += '<select class="js-example-tags form-control MapedProtocolCls" title="Select a mapped protocol" id="MapedProtocol' + Reapet + '">';
        htmlData += '<option value="" id="searchValue' + Reapet + '"></option>';

        var options = MapedProtocolData(Reapet);
        htmlData += options;

        htmlData += '</select>';
        htmlData += '<span class="text-danger"></span>';
        htmlData += '</div>';
        htmlData += '<div class="col-lg-4 col-md-4 col-sm-4 js-example-basic-single">'
        htmlData += '<label class="col-lg-12 col-sm-12 col-form-label">Languages</label>'
        htmlData += '<select class="form-control LanguageCls" title="Please select Language" id="MapedLanguage' + Reapet + '" disabled>'
        htmlData += '<option value="0">Please select Language</option>';
        var options = LanguageData();
        htmlData += options;

        htmlData += '</select></div>';
        htmlData += '</div>';

        $('#Protocol_Repeater').append(htmlData);

        $(".js-example-tags").select2({
            placeholder: "Select a mapped protocol",
            tags: true
        });
    }

    function OpenGetFetchUnMatchedProtocals() {
        GetFetchUnMatchedProtocals(MasterSqliteId)
    }

    function btnCancel() {
        $("#exampleModal").modal('hide');
        $(".GetFetchUnMatchedProtocals").css("display", "block");
        $("#btnNextStep").css("display", "none");
        $("#btnupload").show();
    }

    function showProfileDropdown() {
        $(".dropdown-menu-fit").toggleClass("show")
    }


    $("#action-submit").on('click', function () {
        location.reload();
    });
    function SaveDataInSalesForce() {
        var sst = JSON.parse(ObjGetSerialNumberAccountdetails);
        var sstss = JSON.parse(Objtokendetails);

        //swal.fire({
        //    imageUrl: '/images/loader.gif',
        //    imageHeight: 60,
        //    imageWidth: 60,
        //    text: 'Please Wait We Are Uploading data on salesforce...',
        //    showCancelButton: false,
        //    showConfirmButton: false,
        //    allowOutsideClick: false,
        //    allowEscapeKey: false
        //});

        $.ajax({
            url: '@Url.Action("UploadDataToSalesforce", "Home")',
            type: "GET",
            data: ({
                MasterSqliteId: MasterSqliteId,
                Device__c: sst.records[0].id,
                Name: sst.records[0].name,
                token: sstss.access_token,
            }),
            dataType: "json",
            success: function (data) {
                console.log(data);                  
                $("#btnNextStep").hide();
                $("#NoOfRecordsProcessed").text(data.totalRecords);
                if (data.hasErrors == false) {
                    swal.fire({
                        icon: 'success',
                        title: 'Data Save successfully.'
                    });
                    var wizardObj = new KTWizard('kt_wizard_v3', {
                        startStep: 2, // initial active step number
                        clickableSteps: false, // allow step clicking
                        navigation: false // disable default navigation handlers,
                    });
                    $("#btnupload").hide();
                    wizardObj.goNext();
                }
                else {                  
                    if (data.messagetext =="No Record found for process.") {
                        var wizardObj = new KTWizard('kt_wizard_v3', {
                            startStep: 2, // initial active step number
                            clickableSteps: false, // allow step clicking
                            navigation: false // disable default navigation handlers,
                        });
                        $("#btnupload").hide();
                        wizardObj.goNext();
                        swal.fire({
                            icon: 'error',
                            title: data.messagetext
                        });
                    }
                    else {
                        $("#btnupload").show();
                        swal.fire({
                            icon: 'error',
                            title: 'something went wrong.'
                        });
                    }
                }
            },
            error: function (error) {
                swal.close();
                $("#btnupload").show();
                swal.fire({
                    icon: 'error',
                    title: 'something went wrong.'
                });
                console.log(`Error ${error}`);
            }
        });
    }

    function GetLastUtilizationDate(serialnumber) {
        $.ajax({
            url: '@Url.Action("GetLastUtilizationDate", "Home")',
            type: "GET",
            dataType: "json",
            data: ({
                Serialnumber: serialnumber
            }),
            success: function (data) {
                $(".utilize").text(data.result)
            },
            error: function (error) {
                console.log(`Error ${error}`);
            }
        });
    }

    function NoOfProcessedReocrds()  {

        var sst = JSON.parse(ObjGetSerialNumberAccountdetails);
        var sstss = JSON.parse(Objtokendetails);

         $.ajax({
            url: '@Url.Action("NoOfProcessedReocrds", "Home")',
            type: "GET",
            data: ({
                MasterSqliteId: MasterSqliteId,
                Device__c: sst.records[0].id,
                Name: sst.records[0].name,
                token: sstss.access_token,
            }),
            dataType: "json",
            success: function (data) {
                console.log(data);
                $("#NoOfRecordsProcessed").text(data);
                swal.close();
                //location.reload();

            },
            error: function (error) {
                swal.close();
                console.log(`Error ${error}`);
            }
            });
    }
</script>
}