﻿@model List<ImagingUtilizationUpload.Models.VMRoleMenuMap>

<style>
    .table {
        max-width: 600px !important;
    }

    .modal-footer {
        max-width: 600px !important;
    }
</style>

<div class="kt-container ">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->


            <div class="kt-portlet__body">
                <form class="kt-form" id="FContact" method="post" asp-controller="Role" asp-action="_AssignRole" autocomplete="off">
                    @if (Model != null)
                    {
                        <div class="table-responsive">
                            <table class="table" id="TblRoleAssign">
                                <thead>
                                    <tr>
                                        <th style="display:none;"> Id</th>
                                        <th style="display:none;">RoleId</th>
                                        <th style="display:none;">MenuId</th>
                                        <th> Menu Name</th>
                                        <th>
                                            <label>View</label>
                                            <div>
                                                <input type="checkbox" class="headerView" name="View" onchange="checkAll(this,'View')" />
                                            </div>
                                        </th>
                                        <th>
                                            <label>Insert</label>
                                            <div>
                                                <input type="checkbox" class="headerInsert" name="Insert" onchange="checkAll(this,'Insert')" />
                                            </div>
                                        </th>
                                        <th>
                                            <label>Edit</label>
                                            <div>
                                                <input type="checkbox" class="headerEdit" name="Edit" onchange="checkAll(this,'Edit')" />
                                            </div>
                                        </th>
                                        <th>
                                            <label>Delete</label>
                                            <div>
                                                <input type="checkbox" class="headerDelete" name="Delete" onchange="checkAll(this,'Delete')" />
                                            </div>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @for (int i = 0; i < Model.Count; i++)
                                    {

                                        <tr>

                                            <td style="display:none;"><input type="hidden" id="obj[@i].Id" name="obj[@i].Id" value="@Model[i].Id"></td>
                                            <td style="display:none;"><input type="hidden" id="obj[@i].RoleId" name="obj[@i].RoleId" value="@Model[i].RoleId"><span>@Model[i].RoleId</span></td>
                                            <td style="display:none;"><input type="hidden" id="obj[@i].MenuId" name="obj[@i].MenuId" value="@Model[i].MenuId"><span>@Model[i].MenuId</span></td>
                                            <td>
                                                <input type="hidden" id="obj[@i].MenuName" name="obj[@i].MenuName" value="@Model[i].MenuName"><span>@Model[i].MenuName</span>
                                            </td>
                                            <td>
                                                <input type="checkbox" asp-for="@Model[i].IsView" name="obj[@i].IsView" id="obj[@i].IsView" class="View" onchange="toggleChecked()" />
                                                <span id="sErrorMessage" class="text-danger errorClass"></span>
                                            </td>
                                            <td>
                                                <input type="checkbox" asp-for="@Model[i].IsInsert" name="obj[@i].IsInsert" id="obj[@i].IsInsert" class="Insert" onchange="toggleChecked()" />
                                                <span id="eErrorMessage" class="text-danger errorClass"></span>
                                            </td>
                                            <td>
                                                <input type="checkbox" asp-for="@Model[i].IsEdit" name="obj[@i].IsEdit" id="obj[@i].IsEdit" class="Edit" onchange="toggleChecked()" />
                                                <span id="sErrorMessage" class="text-danger errorClass"></span>
                                            </td>
                                            <td>
                                                <input type="checkbox" asp-for="@Model[i].IsDelete" name="obj[@i].IsDelete" id="obj[@i].IsDelete" class="Delete" onchange="toggleChecked()" />
                                                <span id="sErrorMessage" class="text-danger errorClass"></span>
                                            </td>
                                            @*}*@
                                        </tr>
                                        @*}*@
                                    }
                                </tbody>

                            </table>

                        </div>

                    }
                <div class="modal-footer">
                    @if (SessionHelper.RoleMenuList.FirstOrDefault(m => m.MenuName == "Role").IsInsert == true)
                    {
                        <button type="submit" id="submit" class="btn btn-brand edit_btn">Submit</button>
                    }
                        @*<a href="/Role/Index" class="btn btn-secondary">Cancel</a>*@
                        <button type="button" class="btn btn-outline-brand" data-dismiss="modal">Cancel</button>
                    </div>

                </form>

            </div>

            <!--end::Portlet-->
        </div>
    </div>
</div>

<script src="~/assets/plugins/jquery-ui/jquery-ui.min.js"></script>

<script>
    $(document).ready(function () {

        toggleChecked();
    });
    function toggleChecked() {

        var ViewLength = $('.View').length
        var InsertLength = $('.Insert').length
        var EditLength = $('.Edit').length
        var DeleteLength = $('.Delete').length

        var IsViewCounts = IsViewCount();
        var InsertCount = IsInsertCount();
        var EditCount = IsEditCount();
        var DeleteCount = IsDeleteCount();

        if (ViewLength == IsViewCounts) {
            $('.headerView').attr('checked', 'checked')
        } else {
            $('.headerView').attr('checked', false)
        }

        if (InsertLength == InsertCount) {
            $('.headerInsert').attr('checked', 'checked')
        } else {
            $('.headerInsert').attr('checked', false)
        }
        if (EditLength == EditCount) {
            $('.headerEdit').attr('checked', 'checked')
        } else {
            $('.headerEdit').attr('checked', false)
        }
        if (DeleteLength == DeleteCount) {
            $('.headerDelete').attr('checked', 'checked')
        } else {
            $('.headerDelete').attr('checked', false)
        }

    }
    function IsViewCount() {

        var count = 0;
        $('.View').each(function () {
            if ($(this).is(":checked")) {
                count++;
            }
        })
        return count
    }
    function IsInsertCount() {

        var count = 0;
        $('.Insert').each(function () {
            if ($(this).is(":checked")) {
                count++;
            }
        })
        return count
    }
    function IsEditCount() {

        var count = 0;
        $('.Edit').each(function () {
            if ($(this).is(":checked")) {
                count++;
            }
        })
        return count
    }
    function IsDeleteCount() {

        var count = 0;
        $('.Delete').each(function () {
            if ($(this).is(":checked")) {
                count++;
            }
        })
        return count
    }
</script>




