﻿@model ImagingUtilizationUpload.Models.Roles
@{
    ViewData["Title"] = "Add Role";
    ViewData["ActivePage"] = "Role";
}

<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid" style="margin-top:20px;">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">Create Role</h3>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="kt-form" method="post" asp-controller="Role" asp-action="AddRole" autocomplete="off" novalidate>
                    <div class="kt-portlet__body">

                        <div class="form-group row">
                            <label asp-for="Name" class="col-lg-3 col-sm-12 col-form-label"></label>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <input asp-for="Name" class="form-control" placeholder="Enter Role" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions kt-form__actions--right">
                            <div class="row">
                                <div class="col-lg-9 offset-lg-3">
                                    <div class="kt-align-left">
                                        <button type="submit" class="btn btn-brand" data-dismiss="modal">Submit</button>
                                        <a href="/Role/Index" class="btn btn-secondary">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>


