﻿@model ImagingUtilizationUpload.Models.Roles
@{
    ViewData["Title"] = "Role";
    ViewData["ActivePage"] = "Role";
}

<style>
    #rightsModel {
        max-width: 50rem !important;
    }
</style>
<!-- ------ RoleMenu Modal--------------- -->

<div class="modal " id="RoleMenuPopUp" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="rightsModel">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Assign Role</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="RoleMenudata"></div>
            </div>
        </div>
    </div>
</div>
<!--  ----------End Popup --------  -->

<div class="modal" id="DeleteConfirmModal" style="display:none;" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="-modal-title">Delete</h4>
                <span class="close" id="Close" data-dismiss="modal"></span>
            </div>
            <div class="modal-body">
                <p>Are you sure want to delete this record?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnc" onclick="DeleteById()">OK</button>

                <button type="button" class="btn btn-default" id="btncancel">Cancel</button>

            </div>
        </div>
    </div>
</div>
<html lang="en">
<body>
    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

        <br />
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class=" kt-portlet__head-title">
                        Role List
                    </h3>
                </div>
                @if (SessionHelper.RoleMenuList.FirstOrDefault(m => m.MenuName == "Role").IsInsert == true)
                {

                    <div class="kt-portlet__head-toolbar">
                        <a href="@Url.Action("AddRole", "Role")" class="btn btn-primary">
                            <span><i class="fc-icon-plus-square"></i> Add Role</span>
                        </a>
                    </div>
                }
            </div>
            <div class="kt-portlet__body">
                <!--begin: Datatable -->
                <div class="table-responsive">
                    <table class="table table-striped- table-bordered table-hover table-checkable" id="TblRole">
                        <thead>
                            <tr>
                                <th> Id </th>
                                <th> Role Name </th>
                                <th> Actions </th>

                            </tr>
                        </thead>
                    </table>
                </div>
                <!--end: Datatable -->
            </div>
        </div>
    </div>
</body>
</html>
@section Scripts
    {
    <script>
        $(document).ready(function () {


        var message = '@TempData["SuccesMessage"]';
        if (message != '') {
            toastr.success(message);
        }

        var errorMessage = '@TempData["ErrorMessage"]';
        if (errorMessage != '') {
            toastr.error(errorMessage);
            }

             var RoleIsEdit = @(SessionHelper.RoleMenuList.FirstOrDefault(m => m.MenuName == "Role").IsEdit == true ? "true" : "false");
             var RoleIsView = @(SessionHelper.RoleMenuList.FirstOrDefault(m => m.MenuName == "Role").IsView == true ? "true" : "false");
             var RoleIsDelete = @(SessionHelper.RoleMenuList.FirstOrDefault(m => m.MenuName == "Role").IsDelete == true ? "true" : "false");


            var roleTable = $('#TblRole').DataTable({
            'ajax': {
                "type": "GET",
                "url": '@Url.Action("GetRoleList", "Role")',
                "dataSrc": function (e) {
                    return e.roleList;
                }
                },
                'order': [[0, "desc"]],
            'columns': [
                { "data": "id", "visible": false },
                { "data": "name", "orderable": true },

                {
                    "sClass": "action", "width": "15%", "orderable": false,
                    "render": function (data, type, row) {
                        var editvalue="" ;
                        var AssignRole="" ;
                        var deletevalue="" ;
                        if (RoleIsView == true)
                        {
                            
                            var rolename = row.name.toLowerCase();
                           // var IsDisplay = ((rolename == "administrator") == true)
                           // if (IsDisplay == true)
                           // {
                                if (RoleIsEdit == true)
                                {
                                    var updateRole = '@Url.Action("UpdateRole", "Role")?id=' + row.id;
                                    editvalue = '<a href=' + updateRole + ' class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="tooltip" title="Edit"><i class="la la-edit"></i></a>'

                                }
                                if (RoleIsDelete == true) {
                                    deletevalue = `<a onclick="DeleteConfirm('` + row.id + `')" class="cursior-pointer btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="tooltip" title="delete"><i class="la la-trash-o"></i></a>`

                                }
                           // }
                           AssignRole = '<a class="btn btn-sm btn-clean btn-icon btn-icon-md edit_btn" data-toggle="tooltip" title="Assign Rights"><i class="fa fa-user-plus"></i></a>'
                        }

                        return editvalue + deletevalue + AssignRole
                    }
                },
            ]

            });

            $('#TblRole').on('click', 'tbody .edit_btn', function () {
                var data_row = roleTable.row($(this).closest('tr')).data();
            var Roleid = data_row.id;
            $("#RoleMenudata").load('@Url.Action("_AssignRole", "Role")?id=' + Roleid);

            $('#RoleMenuPopUp').modal('show');
        });


    });

    function DeleteById(Id) {

            window.location = '@Url.Action("OnPostDel", "Role")?id=' + DeleteDataId
            $('#DeleteConfirmModal').hide();

    }
    function DeleteConfirm(Id) {

        DeleteDataId = Id;
        $('#DeleteConfirmModal').show();
    }

    $('#Close').click(function () {
        $('#DeleteConfirmModal').hide();
    })
    $('#btncancel').click(function () {
        $('#DeleteConfirmModal').hide();
        })




        function checkAll(e, className) {            

            $('.' + className).each(function () {
                $(this).prop("checked", $(e).is(":checked"))

            })

        }

    </script>
}