﻿<!DOCTYPE html>
<html lang="en">
<!-- begin::Head -->
<head>
    <base href="../../">
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - imaging utilization upload</title>

    <meta name="description" content="User login example">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--begin::Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
    <!--end::Fonts -->
    <!--begin::Page Custom Styles(used by this page) -->
    <link href="~/assets/css/pages/login/login-v2.css" rel="stylesheet" type="text/css" />
    <!--end::Page Custom Styles -->
    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles -->
    <!--begin::Layout Skins(used by all pages) -->
    <link href="~/assets/css/skins/header/base/light.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/skins/header/menu/light.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/skins/brand/navy.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/skins/aside/navy.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/toastr.min.css" rel="stylesheet" type="text/css" />
    <!--end::Layout Skins -->
    <link rel="shortcut icon" href="assets/media/logos/favicon.ico" />
</head>
<!-- end::Head -->
<!-- begin::Body -->
<body class="kt-login-v2--enabled kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-page--loading">
    <!-- begin:: Page -->
    <div class="kt-grid kt-grid--ver kt-grid--root">
        <div class="kt-grid__item   kt-grid__item--fluid kt-grid  kt-grid kt-grid--hor kt-login-v2" id="kt_login_v2">

            <!--begin::Item-->
            <div class="kt-grid__item  kt-grid--hor">
                <!--begin::Heade-->
                <div class="kt-login-v2__head">
                    <div class="kt-login-v2__logo">
                        <a href="#">
                            <img src="assets/media/logos/eos-imaging-x-atec.png" alt="EOS IMAGING" width="200px" height="100px"/>
                        </a>
                    </div>
                    <div class="kt-login-v2__signup">
                        <span>Don't have an account?</span>
                        <a asp-page="./Register" class="kt-link kt-font-brand">Sign Up</a>
                    </div>
                </div>
                <!--begin::Head-->
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="kt-grid__item  kt-grid  kt-grid--ver  kt-grid__item--fluid">
                <!--begin::Body-->
                <div class="kt-login-v2__body">
                    @RenderBody()

                </div>
                <!--begin::Body-->
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="kt-grid__item">
                <div class="kt-login-v2__footer">
                    <div class="kt-login-v2__link">

                    </div>
                    <div class="kt-login-v2__info">
                        <a href="#" class="kt-link">
                            &copy;
                            <script>document.write(new Date().getFullYear())</script>  imaging utilization upload
                        </a>
                    </div>
                </div>
            </div>
            <!--end::Item-->
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/addValidationClass.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/assets/js/toastr.min.js"></script>
    @RenderSection("Scripts", required: false)

</body>
<!-- end::Body -->
</html>