﻿<!-- begin:: Aside -->
<style>

    .kt-footer__item--active {
        transition: all 0.3s !important;
        color: #fff !important;
    }
</style>

<button class="kt-aside-close " id="kt_aside_close_btn"><i class="la la-close"></i></button>
<div class="kt-aside  kt-aside--fixed  kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop" id="kt_aside">
    <!-- begin::Aside Brand -->
    <div class="kt-aside__brand kt-grid__item " id="kt_aside_brand">
        <div class="kt-aside__brand-logo">
            <a href="#">
                <img alt="Logo" src="~/assets/media/logos/eos-imaging-x-atec.PNG" width="180px" height="80px" />
            </a>

        </div>
        <div class="kt-aside__brand-tools">
            <button class="kt-aside__brand-aside-toggler kt-aside__brand-aside-toggler--left" id="kt_aside_toggler"><span></span></button>
        </div>
    </div>
    <!-- end:: Aside Brand -->
    <!-- begin:: Aside Menu -->
    <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
        <div id="kt_aside_menu" class="kt-aside-menu " data-ktmenu-vertical="1" data-ktmenu-scroll="1" data-ktmenu-dropdown-timeout="500">
            <ul class="kt-menu__nav " id="menuItem">
                <li class="kt-menu__item @((string)ViewData["ActivePage"] == "Home" ? "kt-menu__item--active" : "")   " aria-haspopup="true">
                    <a href="/Home/Index" class="kt-menu__link ">
                        <i class="kt-menu__link-icon fa fa-warehouse"></i>
                        <span class="kt-menu__link-text"> Site Visit Utilization Upload</span>
                    </a>
                </li>
                <li class="kt-menu__item @((string)ViewData["ActivePage"] == "LanguageMaster" ? "kt-menu__item--active" : "")   " aria-haspopup="true">
                    <a href="/LanguageMaster/Index" class="kt-menu__link ">
                        <i class="kt-menu__link-icon fa fa-language" aria-hidden="true"></i>
                        <span class="kt-menu__link-text"> Language Master</span>
                    </a>
                </li>
                <li class="kt-menu__item @((string)ViewData["ActivePage"] == "ProtocolMaster" ? "kt-menu__item--active" : "")   " aria-haspopup="true">
                    <a href="/ProtocolMaster/Index" class="kt-menu__link ">
                        <i class="kt-menu__link-icon fa fa-caret-right" aria-hidden="true"></i>
                        <span class="kt-menu__link-text"> Protocol Mapping Master</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- end:: Aside Menu -->
    <!-- begin:: Aside Footer -->
    <div class="kt-aside__footer kt-grid__item" id="kt_aside_footer">
        @if (SessionHelper.RoleMenuList != null)
        {
            @if (SessionHelper.RoleMenuList.FirstOrDefault(m => (m.MenuName == "User" || m.MenuName == "Role") && m.IsView == true) != null)
            {
                <div class="kt-aside__footer-nav">
                    @if (SessionHelper.RoleMenuList.FirstOrDefault(m => m.MenuName == "User" && m.IsView == true) != null)
                    {
                        <div class="kt-aside__footer-item ">
                            <a href="/User/Index" class="btn btn-icon  " data-toggle="tooltip" title="User Management"><i class="fa fa-user  @((string)ViewData["ActivePage"] == "User" ? "kt-footer__item--active " : "")"></i></a>
                        </div>
                    }
                    @if (SessionHelper.RoleMenuList.FirstOrDefault(m => m.MenuName == "Role" && m.IsView == true) != null)
                    {

                        <div class="kt-aside__footer-item ">
                            <a href="/Role/Index" class="btn btn-icon" data-toggle="tooltip" title="Role Management"><i class="fa fa-plus-circle   @((string)ViewData["ActivePage"] == "Role" ? "kt-footer__item--active" : "")"></i></a>
                        </div>
                    }
                </div>
            }

        }
    </div>
    <!-- end:: Aside Footer-->

</div>

<!-- end:: Aside -->
