﻿<!-- begin:: Footer -->
<div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop noprint">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-footer__copyright">
            <a href="#" class="kt-link">
                &copy;
                <script>document.write(new Date().getFullYear())</script> imaging utilization upload
            </a>
        </div>

    </div>
</div>
<!-- end:: Footer -->
