﻿@using Microsoft.AspNetCore.Identity


@inject SignInManager<Users> SignInManager
@inject UserManager<Users> UserManager

<!-- begin:: Header -->
<div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed noprint">
    <!-- begin:: Header Menu -->

    <div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">
        <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile  kt-header-menu--layout- ">

        </div>
    </div>
    <!-- end:: Header Menu -->
    <!-- begin:: Header Topbar -->
    <div class="kt-header__topbar">
        <!--begin: Search -->
        @*<div class="kt-header__topbar-item kt-header__topbar-item--search dropdown">
            <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
                <span class="kt-header__topbar-icon"><i class="flaticon2-search-1"></i></span>
            </div>
            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-top-unround dropdown-menu-anim dropdown-menu-lg">
                <div class="kt-quick-search kt-quick-search--dropdown kt-quick-search--result-compact" id="kt_quick_search_dropdown">
                    <form method="get" class="kt-quick-search__form">
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="flaticon2-search-1"></i></span></div>
                            <input type="text" class="form-control kt-quick-search__input" placeholder="Search...">
                            <div class="input-group-append"><span class="input-group-text"><i class="la la-close kt-quick-search__close"></i></span></div>
                        </div>
                    </form>
                    <div class="kt-quick-search__wrapper kt-scroll" data-scroll="true" data-height="325" data-mobile-height="200">
                    </div>
                </div>
            </div>
        </div>*@
        <!--end: Search -->
        <!--begin: Notifications -->
        @*<div class="kt-header__topbar-item dropdown">
            <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="30px,0px">
                <span class="kt-header__topbar-icon">
                    <i class="flaticon2-bell-alarm-symbol"></i>
                    <span class="kt-badge kt-badge--dot kt-badge--notify kt-badge--sm kt-badge--brand"></span>
                </span>
            </div>
            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-lg">
                <form>
                    <div class="kt-head" style="background-image: url(/assets/media/misc/head_bg_sm.jpg)">

                        <h3 class="kt-head__title">Notifications</h3>

                    </div>
                    <div class="kt-notification kt-margin-t-30 kt-margin-b-20 kt-scroll" data-scroll="true" data-height="270" data-mobile-height="220">

                        <div id="notification"> </div>
                    </div>
                </form>
            </div>
        </div>*@
        <div class="kt-header__topbar-item kt-header__topbar-item--user">
            <div class="kt-header__topbar-wrapper" onclick="showProfileDropdown();" data-toggle="dropdown" data-offset="0px,0px">
                <!--use "kt-rounded" class for rounded avatar style-->
                <div class="kt-header__topbar-user kt-rounded-">
                    <span class="kt-header__topbar-welcome kt-hidden-mobile">Hi,</span>

                    <span id="profileName" class="kt-header__topbar-username kt-hidden-mobile"></span>
                    <img id="imgProfile" alt="Pic" src="~/assets/media/users/default.jpg" class="kt-rounded-" />

                </div>
            </div>
            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-sm">

                <ul class="kt-nav kt-margin-b-10">
                    <li class="kt-nav__item @ImagingUtilizationUpload.Areas.Identity.Pages.Account.Manage.ManageNavPages.IndexNavClass(ViewContext)">

                        <a href="~/Identity/Account/Manage/Index" class="kt-nav__link">
                            <span class="kt-nav__link-icon"><i class="flaticon2-calendar-3"></i></span>
                            <span class="kt-nav__link-text">My Profile</span>
                        </a>
                    </li>
                    <li class="kt-nav__item @ImagingUtilizationUpload.Areas.Identity.Pages.Account.Manage.ManageNavPages.ChangePasswordNavClass(ViewContext)">
                        <a id="change-password" href="~/Identity/Account/Manage/ChangePassword" class="kt-nav__link">
                            <span class="kt-nav__link-icon"><i class="flaticon2-browser-2"></i></span>
                            <span class="kt-nav__link-text">Change Password</span>
                        </a>
                    </li>

                    <li class="kt-nav__separator kt-nav__separator--fit"></li>

                    <li class="kt-nav__custom kt-space-between">

                        <form asp-area="Identity" asp-page="/Account/Logout" method="post" id="logoutForm" class="navbar-right">
                            <button type="submit" class="btn btn-label-brand btn-upper btn-sm btn-bold">Sign Out</button>
                        </form>
                    </li>


                </ul>
            </div>
        </div>
        <!--end: User Bar -->

    </div>
    <!-- end:: Header Topbar -->
</div>
<!-- end:: Header -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
      setTimeout(function () {
          $(document).ready(function () {

              //notificationList();
              $.get({
                  url: "/User/GetProfileImage", success: function (result) {
                      if (result.user != null && result.user != undefined) {
                          if (result.user.imagePath != null && result.user.imagePath != undefined) {
                              $("#imgProfile").attr("src", "/ProfileImage/" + result.user.imagePath);
                          }
                          var profileName = "";
                          if (result.user.firstName != null && result.user.firstName != undefined) {
                              profileName = result.user.firstName + " ";
                          }
                          if (result.user.lastName != null && result.user.lastName != undefined) {
                              profileName += result.user.lastName;
                          }
                          if (profileName != "") {
                              $("#profileName").text(profileName);
                          }
                          else {
                              if (result.user.userName != null && result.user.userName != undefined) {
                                  $("#profileName").text(result.user.userName);
                              }
                          }
                      }
                  }
              });
          });
      }, 100);

      @*function notificationList() {

         $.ajax({
         url: '@Url.Action("GetNotificationList", "Home")',
         type: 'GET',
         cache: false,
             data: {}
         }).done(function (result) {
             $('#notification').html(result);
         });
    }*@

   
</script>
