﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - imaging utilization upload</title>

    <environment include="Development">
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
        <link rel="stylesheet" href="~/css/site.css" />
        <!--begin::Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
        <!--end::Fonts -->
        <!--begin::Global Theme Styles(used by all pages) -->
        <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
        <!--end::Global Theme Styles -->
        <!--begin::Layout Skins(used by all pages) -->
        <link href="~/assets/css/skins/header/base/light.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/skins/header/menu/light.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/skins/brand/navy.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/skins/aside/navy.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/toastr.min.css" rel="stylesheet" type="text/css" />
        <!--end::Layout Skins -->
        <!--begin::Page Vendors Styles(used by this page) -->
        <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
        <!--end::Page Vendors Styles -->
        <!--begin::Page Custom Styles(used by this page) -->
        <link href="~/assets/css/pages/wizards/wizard-v3.css" rel="stylesheet" type="text/css" />
        <!--end::Page Custom Styles -->
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
        <link rel="stylesheet" href="~/css/site.css" />
        <!--begin::Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
        <!--end::Fonts -->
        <!--begin::Global Theme Styles(used by all pages) -->
        <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
        <!--end::Global Theme Styles -->
        <!--begin::Layout Skins(used by all pages) -->
        <link href="~/assets/css/skins/header/base/light.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/skins/header/menu/light.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/skins/brand/navy.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/skins/aside/navy.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/toastr.min.css" rel="stylesheet" type="text/css" />
        <!--end::Layout Skins -->
        <!--begin::Page Vendors Styles(used by this page) -->
        <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
        <!--end::Page Vendors Styles -->
        <!--begin::Page Custom Styles(used by this page) -->
        <link href="~/assets/css/pages/wizards/wizard-v3.css" rel="stylesheet" type="text/css" />
        <!--end::Page Custom Styles -->
    </environment>

</head>
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-page--loading">

    <!-- begin:: Header Mobile -->
    <div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed noprint">
        <div class="kt-header-mobile__logo">
            <a href="index.html">
                <img alt="Logo" src="~/assets/media/logos/eos-imaging-x-atec.PNG" width="200px" height="100px" />
            </a>
        </div>
        <div class="kt-header-mobile__toolbar">
            <button class="kt-header-mobile__toolbar-toggler kt-header-mobile__toolbar-toggler--left" id="kt_aside_mobile_toggler"><span></span></button>

            <button class="kt-header-mobile__toolbar-topbar-toggler" id="kt_header_mobile_topbar_toggler"><i class="flaticon-more"></i></button>
        </div>
    </div>
    <!-- end:: Header Mobile -->
    <!-- begin:: Root -->
    <div class="kt-grid kt-grid--hor kt-grid--root noprint">
        <!-- begin:: Page -->
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
            <partial name="_AsideMenuPartial" />
            <!-- begin:: Wrapper -->
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
                <partial name="_HeaderPartial" />
                <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
                    @RenderBody()
                </div>
                <partial name="_FooterPartial" />
            </div>
            <!-- end:: Wrapper -->
        </div>
        <!-- end:: Page -->
    </div>
    <!-- end:: Root -->
    <!-- begin:: Scrolltop -->
    <div id="kt_scrolltop" class="kt-scrolltop noprint">
        <i class="la la-arrow-up"></i>
    </div>
    <!-- end:: Scrolltop -->
    <!-- begin:: PintBlock -->
    <div class="printBlock" id="printBlock">
       
    </div>
    <!-- end:: PintBlock -->
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/addValidationClass.js" asp-append-version="true"></script>
        <partial name="_ValidationScriptsPartial" />
        <script src="~/assets/js/toastr.min.js"></script>
        <!-- begin::Global Config(global config for global JS sciprts) -->
        <script>
            var KTAppOptions = {
                "colors": {
                    "state": {
                        "brand": "#5d78ff",
                        "metal": "#c4c5d6",
                        "light": "#ffffff",
                        "accent": "#00c5dc",
                        "primary": "#5867dd",
                        "success": "#34bfa3",
                        "info": "#36a3f7",
                        "warning": "#ffb822",
                        "danger": "#fd3995",
                        "focus": "#9816f4"
                    },
                    "base": {
                        "label": [
                            "#c5cbe3",
                            "#a1a8c3",
                            "#3d4465",
                            "#3e4466"
                        ],
                        "shape": [
                            "#f0f3ff",
                            "#d9dffa",
                            "#afb4d4",
                            "#646c9a"
                        ]
                    }
                }
            };
        </script>
        <!-- end::Global Config -->
        <!--begin::Global Theme Bundle(used by all pages) -->
        <script src="~/assets/plugins/global/plugins.bundle.js" type="text/javascript"></script>
        <script src="~/assets/js/scripts.bundle.js" type="text/javascript"></script>
        <!--end::Global Theme Bundle -->
        <!--begin::Page Vendors(used by this page) -->
        <script src="~/assets/js/datatables.min.js" type="text/javascript"></script>
        @*<script src="~/assets/plugins/custom/datatables/datatables.bundle.js" type="text/javascript"></script>*@

        <!--end::Page Vendors -->
        <!--begin::Page Scripts(used by this page) -->
        <script src="~/assets/js/pages/components/datatables/basic/paginations.js" type="text/javascript"></script>
        <!--end::Page Scripts -->
        <!--begin::Page Scripts(used by this page) -->
        <script src="~/assets/js/pages/components/forms/widgets/bootstrap-datepicker.js" type="text/javascript"></script>
        <!--end::Page Scripts -->
    </environment>
    <environment exclude="Development">
        @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>*@
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        @*<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/addValidationClass.js" asp-append-version="true"></script>
        <partial name="_ValidationScriptsPartial" />
        <script src="~/assets/js/toastr.min.js"></script>
        <!-- begin::Global Config(global config for global JS sciprts) -->
        <script>
            var KTAppOptions = {
                "colors": {
                    "state": {
                        "brand": "#5d78ff",
                        "metal": "#c4c5d6",
                        "light": "#ffffff",
                        "accent": "#00c5dc",
                        "primary": "#5867dd",
                        "success": "#34bfa3",
                        "info": "#36a3f7",
                        "warning": "#ffb822",
                        "danger": "#fd3995",
                        "focus": "#9816f4"
                    },
                    "base": {
                        "label": [
                            "#c5cbe3",
                            "#a1a8c3",
                            "#3d4465",
                            "#3e4466"
                        ],
                        "shape": [
                            "#f0f3ff",
                            "#d9dffa",
                            "#afb4d4",
                            "#646c9a"
                        ]
                    }
                }
            };
        </script>
        <!-- end::Global Config -->
        <!--begin::Global Theme Bundle(used by all pages) -->
        <script src="~/assets/plugins/global/plugins.bundle.js" type="text/javascript"></script>
        <script src="~/assets/js/scripts.bundle.js" type="text/javascript"></script>
        <!--end::Global Theme Bundle -->
        <!--begin::Page Vendors(used by this page) -->
        <script src="~/assets/js/datatables.min.js" type="text/javascript"></script>
        @*<script src="~/assets/plugins/custom/datatables/datatables.bundle.js" type="text/javascript"></script>*@

        <!--end::Page Vendors -->
        <!--begin::Page Scripts(used by this page) -->
        <script src="~/assets/js/pages/components/datatables/basic/paginations.js" type="text/javascript"></script>
        <!--end::Page Scripts -->
        <!--begin::Page Scripts(used by this page) -->
        <script src="~/assets/js/pages/components/forms/widgets/bootstrap-datepicker.js" type="text/javascript"></script>
        <!--end::Page Scripts -->
    </environment>
    


    @RenderSection("Scripts", required: false)
</body>
</html>
