﻿@model ImagingUtilizationUpload.Models.Users
@{
    ViewData["Title"] = "User";
    ViewData["ActivePage"] = "User";

}


<html lang="en">
<body>
    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

        <br />
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class=" kt-portlet__head-title">
                        User List
                    </h3>
                </div>
                @if (SessionHelper.RoleMenuList.FirstOrDefault(m => m.MenuName == "User").IsInsert == true)
                {
                    <div class="kt-portlet__head-toolbar">
                        <a href="@Url.Action("AddUsers", "User")" class="btn btn-primary">
                            <span><i class="fc-icon-plus-square"></i> Add User</span>
                        </a>
                    </div>
                }
            </div>
            <div class="kt-portlet__body">
                <!--begin: Datatable -->
                <div class="table-responsive">
                    <table class="table table-striped- table-bordered table-hover table-checkable" id="TblUser">
                        <thead>
                            <tr>
                                <th> Id </th>
                                <th> User Name </th>
                                <th> First Name </th>
                                <th> Last Name </th>
                                <th> Email </th>
                                @*<th> Phone Number </th>
                                <th> Beginning Balance </th>*@
                                <th> Role </th>
                                <th> Is Active? </th>
                                <th> Actions </th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <!--end: Datatable -->
            </div>
        </div>
    </div>
</body>
</html>

@section Scripts{
    <script>

    $(document).ready(function () {

                var message = '@TempData["SuccesMessage"]';
                if (message != '') {
                    toastr.success(message);
                }
         var errormessage = '@TempData["ErrorMessage"]';
                if (errormessage != '') {
                    toastr.error(errormessage);
                }
           var RoleIsEdit = @(SessionHelper.RoleMenuList.FirstOrDefault(m => m.MenuName == "User").IsEdit == true ? "true" : "false");


            var userTable = $('#TblUser').DataTable({
            'ajax': {
                "type": "GET",
                "url": '@Url.Action("GetUserslist", "User")',
                "dataSrc": function (e) {
                    return e.userList;
                }
                },
                'order': [[1, "asc"]],
            'columns': [
                { "data": "id", "visible": false },
                { "data": "userName", "visible": true },
                { "data": "firstName", "orderable": true },
                { "data": "lastName", "orderable": true },
                { "data": "email", "orderable": true },
                { "data": "name", "orderable": true },
                {
                    "data": "isDeleted", "orderable": true,
                    "render": function (data, type, row) {
                        if (data == true) {

                            return `<span onclick="UpdateConfirm('` + row.id + `')" class=\"btn btn-danger btn-sm\">No</span>`
                        }
                        else {
                            return `<span onclick="UpdateConfirm('` + row.id + `')" class=\"btn btn-success btn-sm\">Yes</span>`
                        }
                    }
                },
                {
                    "sClass": "action", "width": "10%", "visible": true, "orderable": false,
                    "render": function (data, type, row) {
                        var editvalue = "";
                        if (RoleIsEdit == true)
                        {
                            var updateUsers = '@Url.Action("UpdateUsers", "User")?id=' + row.id;

                            editvalue = '<a href=' + updateUsers + ' class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="tooltip" title="Edit"><i class="la la-edit"></i></a>'

                        }

                        return editvalue
                    }
                },
            ]
        });
    });

          function UpdateConfirm(id) {

            window.location =  '@Url.Action("UpdateUserStatus", "User")?id=' + id;
        }


    </script>


}
<!-- end:: Content -->
