﻿@model ImagingUtilizationUpload.Models.VMUsersAttachment
@{
    ViewData["ActivePage"] = "User";
    ViewData["Title"] = "Update User";
    var roles = (List<Roles>)ViewData["roles"];
}
@*<h1>hi</h1>*@
<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid" style="margin-top:20px;">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">Update User</h3>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="kt-form" method="post" asp-controller="User" asp-action="UpdateUsers" autocomplete="off" enctype="multipart/form-data">

                    <div class="kt-portlet__body">
                        <div class="form-group">
                            <input type="hidden" asp-for="UserId" />
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-sm-12 col-form-label">&nbsp;</label>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <span asp-validation-for="ErrorMessage" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="UserName" class="col-lg-3 col-sm-12 col-form-label"></label>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <input asp-for="UserName" class="form-control" placeholder="Enter User Name" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="FirstName" class="col-lg-3 col-sm-12 col-form-label"></label>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <input asp-for="FirstName" class="form-control" placeholder="Enter First Name" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="LastName" class="col-lg-3 col-sm-12 col-form-label"></label>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <input asp-for="LastName" class="form-control" placeholder="Enter Last Name" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="Email" class="col-lg-3 col-sm-12 col-form-label"></label>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <input type="email" asp-for="Email" class="form-control" placeholder="Enter Email" readonly />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <!--<div class="form-group row">
                            <label asp-for="PhoneNumber" class="col-lg-3 col-sm-12 col-form-label"></label>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <input asp-for="PhoneNumber" class="form-control" placeholder="Enter Phone Number" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                            </div>
                        </div>-->
                        <!--<div class="form-group row">
                        <label asp-for="BeginningBalance" class="col-lg-3 col-sm-12 col-form-label"></label>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            
                            -->
                        @*<input asp-for="BeginningBalance" class="form-control" placeholder="Enter Beginning Balance" min="0"/>*@
                        <!--<span asp-validation-for="BeginningBalance" class="text-danger"></span>
                            </div>
                        </div>-->
                        <div class="form-group row">
                            <label class="col-lg-3 col-sm-12 col-form-label">Profile Photo</label>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="kt-avatar kt-avatar--outline kt-avatar--circle-" id="kt_profile_avatar">
                                    <div class="kt-avatar__holder" style="background-image: url('/ProfileImage/@Model.ImagePath');"></div>
                                    <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-original-title="Change Profile">
                                        <i class="fa fa-pen"></i>
                                        <input type="file" name="file" accept=".png, .jpg, .jpeg">
                                    </label>
                                    <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="" data-original-title="Cancel Profile">
                                        <i class="fa fa-times"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-offset-3">
                                <span asp-validation-for="ImagePath" class="text-danger"></span>
                            </div>
                        </div>

                        @Html.HiddenFor(x => x.ImagePath)
                        <div class="form-group row">
                            <input type="hidden" asp-for="RoleId" name="RoleId" />
                            <label asp-for="Name" class="col-lg-3 col-sm-12 col-form-label"></label>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <select asp-for="Name" class="form-control" asp-items='new SelectList(roles,"Id","Name")'>
                                    <option value="">Select Role </option>
                                </select>
                                <span asp-validation-for="Name" class="text-danger"></span>

                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions kt-form__actions--right">
                            <div class="row">
                                <div class="col-lg-9 offset-lg-3">
                                    <div class="kt-align-left">
                                        <button type="submit" class="btn btn-brand">Submit</button>
                                        <a href="/User/Index" class="btn btn-secondary">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>
@section Scripts
    {
    <script src="~/assets/js/pages/custom/profile/profile.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {

            $("#PhoneNumber").inputmask("(999) 999-9999");
        });

    </script>
}