﻿@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";

}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid" style="margin-top:20px;">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">Change password</h3>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="kt-form" method="post" asp-page="/Account/Manage/ChangePassword" autocomplete="off">
                    <div class="kt-portlet__body">

                        <div class="col-4 offset-3">
                            <span asp-validation-for="ErrorMessage" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Input.OldPassword" class="col-3 col-form-label"></label>
                            <div class="col-6">
                                <input type="password" asp-for="Input.OldPassword" class="form-control" placeholder="Enter Old Password" />
                                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Input.NewPassword" class="col-3 col-form-label"></label>
                            <div class="col-6">
                                <input type="password" asp-for="Input.NewPassword" class="form-control" placeholder="Enter New Password" />
                                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Input.ConfirmPassword" class="col-3 col-form-label"></label>
                            <div class="col-6">
                                <input type="password" asp-for="Input.ConfirmPassword" class="form-control" placeholder="Enter Confirm Password" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions kt-form__actions--right">
                            <div class="row">
                                <div class="col-lg-9 offset-lg-3">
                                    <div class="kt-align-left">
                                        <button type="submit" class="btn btn-brand">Submit</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {

                var message = '@TempData["SuccesMessage"]';
                if (message != '') {
                    toastr.success(message);
                }

        });
    </script>
}
