﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    //ViewData["ActivePage"] = ManageNavPages.Index;
}


<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid" style="margin-top:20px;">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">Profile</h3>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="kt-form" method="post" asp-page="/Account/Manage/Index" autocomplete="off" enctype="multipart/form-data">
                    <div class="kt-portlet__body">

                        <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">Profile</label>
                            <div class="col-lg-9 col-xl-6">
                                <div class="kt-avatar kt-avatar--outline kt-avatar--circle-" id="kt_profile_avatar">
                                    <div class="kt-avatar__holder" style="background-image: url('/ProfileImage/@Model.Input.ImagePath');"></div>
                                    <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-original-title="Change Profile">
                                        <i class="fa fa-pen"></i>
                                        <input type="file" name="file" accept=".png, .jpg, .jpeg">
                                    </label>
                                    <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="" data-original-title="Cancel Profile">
                                        <i class="fa fa-times"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Input.UserName" class="col-3 col-form-label"></label>
                            <div class="col-6">
                                <input type="text" asp-for="Input.UserName" class="form-control" placeholder="User Name" readonly />
                                <span asp-validation-for="Input.UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Input.FirstName" class="col-3 col-form-label"></label>
                            <div class="col-6">
                                <input asp-for="Input.FirstName" class="form-control" placeholder="First Name" />
                                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Input.LastName" class="col-3 col-form-label"></label>
                            <div class="col-6">
                                <input asp-for="Input.LastName" class="form-control" placeholder="Last Name" />
                                <span asp-validation-for="Input.LastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Input.Email" class="col-3 col-form-label"></label>
                            <div class="col-6">
                                <input type="email" asp-for="Input.Email" class="form-control" placeholder="Email" readonly />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Input.PhoneNumber" class="col-3 col-form-label"></label>
                            <div class="col-6">
                                <input asp-for="Input.PhoneNumber" id="PhoneNumber" class="form-control" placeholder="Enter Phone Number" />
                                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>

                            </div>

                         

                        </div>

                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions kt-form__actions--right">
                            <div class="row">
                                <div class="col-lg-9 offset-lg-3">
                                    <div class="kt-align-left">
                                        <button type="submit" class="btn btn-brand">Submit</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>


@section Scripts
    {
    <script src="~/assets/js/pages/custom/profile/profile.js" type="text/javascript"></script>

    @*<script src="~/js/jquery.mask.js"></script>*@

    <script>
        $(document).ready(function () {
            
            var message = '@TempData["SuccesMessage"]';
            if (message != '') {
                toastr.success(message);
            }
          var errorMessage = '@TempData["ErrorMessage"]';
            if (errorMessage != '') {
                toastr.error(errorMessage);
        }

            $("#PhoneNumber").inputmask("(999) 999-9999");
    });
    </script>
}