﻿@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
    Layout = "~/Views/Shared/__LoginLayout.cshtml";
}

<div class="col-lg-6 col-md-6 offset-md-3">
    <div class="kt-portlet__body  ">
        <div class="card ">
            <div class="card-header kt-font-bolder">
                <h2 class="text-danger"> @ViewData["Title"]</h2>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p class="text-danger">You do not have access to this resource.</p>
                </blockquote>
            </div>
        </div>

    </div>
</div>