﻿@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password";
    Layout = "~/Views/Shared/__LoginLayout.cshtml";
}

<style>
    .kt-login-v2 .kt-login-v2__body .kt-login-v2__wrapper .kt-login-v2__container .kt-login-v2__actions a {
        display: inline-block;
        font-weight: 400 !important;
        font-size: 1.1rem !important;
    }
</style>

<!--begin::Wrapper-->
<div class="kt-login-v2__wrapper">
    <div class="kt-login-v2__container">
        <div class="kt-login-v2__title">
            <h3>Forgot Password</h3>
        </div>
        <!--begin::Form-->
        <form class="kt-login-v2__form kt-form" method="post" asp-page="/Account/ForgotPassword" autocomplete="off" id="kt_login_form">
            <div class="form-group">
                @*<div asp-validation-summary="Message" class="text-danger"></div>*@
                <input asp-for="Input.Email" class="form-control" placeholder="Email" autocomplete="off" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <span style="color:#4cae4c; font-size:14px; font-weight: 400;">@TempData["message"]</span>
            </div>
            <!--begin::Action-->
            <div class="kt-login-v2__actions">
                <a class="kt-link kt-link--brand" asp-page="./Login"> Login</a>
                <button type="submit" class="btn btn-brand btn-elevate btn-pill" id="kt_login_submit">Submit</button>
            </div>
            <!--end::Action-->
        </form>
        <!--end::Form-->
    </div>
</div>
<!--begin::Image-->
<div class="kt-login-v2__image">
    <img src="assets/media/misc/bg_icon.svg" alt="">
</div>
<!--begin::Image-->
