﻿@page
@model LoginModel

@{
    Layout = "~/Views/Shared/__LoginLayout.cshtml";
    ViewData["Title"] = "Log in";
}

<style>
    .kt-login-v2 .kt-login-v2__body .kt-login-v2__wrapper .kt-login-v2__container .kt-login-v2__actions a {
        display: inline-block;
        font-weight: 400 !important;
        font-size: 1.1rem !important;
    }
</style>

<!--begin::Wrapper-->
<div class="kt-login-v2__wrapper">
    <div class="kt-login-v2__container">
        <div class="kt-login-v2__title">
            <h3>Sign In to Account</h3>
        </div>
        <!--begin::Form-->
        <form class="kt-login-v2__form kt-form" method="post" asp-page="/Account/Login" autocomplete="off" id="kt_login_form">
            @if (Convert.ToBoolean(ViewData["IsConfirmed"]) == true)
            {
                <a id="EmailverificationLink" onclick="sendEmailVerification()">Click here to send the confirmation link again</a>
            }
            <div id="EmailverificationMsg" style="display:none;">
                <label>Please check your email address for verification link</label>
            </div>

            @if (Convert.ToBoolean(ViewData["IsPasswordExpired"]) == true)
            {
                <a id="PasswordExpiryLink" onclick="sendResetPassword()">Click here to send the reset password link</a>
            }

            @if (Convert.ToBoolean(ViewData["IsSetPassword"]) == true)
            {
                <a id="PasswordSetLink" onclick="sendSetPassword()">Click here to send the Set password link</a>
            }
            <div id="PasswordExpiryLinkMsg" style="display:none;">
                <label>Please check your email address for reset password link</label>
            </div>
            <div id="PasswordSetLinkMsg" style="display:none;">
                <label>Please check your email address for set password link</label>
            </div>
            <br />
            <span asp-validation-for="Message" class="text-danger"></span>
            <input asp-for="Input.Id" type="hidden" />
            <div class="form-group">
                <input type="text" asp-for="Input.Email" class="form-control" id="UserName" placeholder="Email" autocomplete="off" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.Password" class="form-control" placeholder="Password" autocomplete="off" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <!--begin::Action-->
            <div class="kt-login-v2__actions">
                <a class="kt-link kt-link--brand" asp-page="./ForgotPassword">  Forgot Password ?</a>
                <button type="submit" class="btn btn-brand btn-elevate btn-pill" id="kt_login_submit">Sign In</button>
            </div>
            <!--end::Action-->
            @*<div class="kt-login-v2__actions">
                <a href="#" class="kt-link kt-link--brand">
                    Forgot Password ?
                </a>
                <button type="submit" class="btn btn-brand btn-elevate btn-pill" id="kt_login_submit">Sign In</button>
            </div>*@
        </form>
        <!--end::Form-->
    </div>
</div>
<!--begin::Image-->
<div class="kt-login-v2__image">
    <img src="assets/media/misc/bg_icon.svg" alt="">
</div>
<script src="/lib/jquery/dist/jquery.js"></script>
<script>
        @*$(document).ready(function () {

                var message = '@TempData["SuccesMessage"]';
                if (message != '') {
                    toastr.success(message);
            }
            var errorMessage = '@TempData["ErrorMessage"]';
            if (errorMessage != '') {
                toastr.error(errorMessage);
            }

        });*@
        function sendEmailVerification() {
            var UName = $("#UserName").val();
            $.get("/Identity/Account/Login?handler=SendVerificationLink&username=" + UName, function (data) {
                if (data.success) {
                    $("#EmailverificationMsg").show();
                    $("#EmailverificationLink").hide();
                }
            });
        }
        function sendResetPassword() {

            var UName = $("#UserName").val();
            $.get("/Identity/Account/Login?handler=SendResetPasswordLink&username=" + UName, function (data) {
                if (data.success) {
                    $("#PasswordExpiryLinkMsg").show();
                    $("#PasswordExpiryLink").hide();
                }
            });
        }
    function sendSetPassword() {        

        var UName = $("#UserName").val();
        $.get("/Identity/Account/Login?handler=SendSetPasswordLink&username=" + UName, function (data) {
            if (data.success) {
                $("#PasswordSetLinkMsg").show();
                $("#PasswordSetLink").hide();
            }
        });
     }
</script>