﻿@page
@model RegisterModel
@using ImagingUtilizationUpload.Models
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/__LoginLayout.cshtml";
    var roles = (List<Roles>)ViewData["roles"];
}
<style>
    .kt-login-v2 .kt-login-v2__body .kt-login-v2__wrapper .kt-login-v2__container .kt-login-v2__actions a {
        display: inline-block;
        font-weight: 400 !important;
        font-size: 1.1rem !important;
    }
</style>
<!--begin::Wrapper-->
<div class="kt-login-v2__wrapper">
    <div class="kt-login-v2__container">
        <div class="kt-login-v2__title">
            <h3>Sign Up to Account</h3>
        </div>
        <!--begin::Form-->
        <form class="kt-login-v2__form kt-form" method="post" asp-page="/Account/Register" autocomplete="off" id="kt_login_form">
            <span asp-validation-for="ErrorMessage" class="text-danger"></span>
            <div class="form-group">
                <input asp-for="Input.Email" class="form-control" placeholder="Email" autocomplete="off" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.UserName" class="form-control" placeholder="User Name" autocomplete="off" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.Password" class="form-control" placeholder="Password" autocomplete="off" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password" autocomplete="off" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="Input.Name"></label>*@
                <select asp-for="Input.Name" class="form-control" asp-items='new SelectList(roles,"Id","Name")'>
                    <option value="">Select Role </option>
                </select>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>

            <!--begin::Action-->
            <div class="kt-login-v2__actions">
                <a class="kt-link kt-link--brand" asp-page="./Login"> Login</a>
                <button type="submit" class="btn btn-brand btn-elevate btn-pill" id="kt_login_submit">Submit</button>
            </div>
            <!--end::Action-->
        </form>
        <!--end::Form-->
    </div>
</div>
<!--begin::Image-->
<div class="kt-login-v2__image">
    <img src="assets/media/misc/bg_icon.svg" alt="">
</div>
<!--begin::Image-->