﻿@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "~/Views/Shared/__LoginLayout.cshtml";
}


<!--begin::Wrapper-->
<div class="kt-login-v2__wrapper">
    <div class="kt-login-v2__container">
        <div class="kt-login-v2__title">
            <h3>Reset your password</h3>
        </div>
        <!--begin::Form-->
        <form class="kt-login-v2__form kt-form" method="post" asp-page="/Account/ResetPassword" autocomplete="off" id="kt_login_form">
            <span asp-validation-for="ErrorMessage" class="text-danger"></span>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-group">
                <input asp-for="Input.Email" class="form-control" placeholder="Email" autocomplete="off" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.Password" class="form-control" placeholder="Password" autocomplete="off" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password" autocomplete="off" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <!--begin::Action-->
            <div class="kt-login-v2__actions">
                <button type="submit" class="btn btn-brand btn-elevate btn-pill" id="kt_login_submit">Reset</button>
            </div>
            <!--end::Action-->
        </form>
        <!--end::Form-->

    </div>
</div>
<!--end::Wrapper-->
<!--begin::Image-->
<div class="kt-login-v2__image">
    <img src="assets/media/misc/bg_icon.svg" alt="">
</div>
<!--begin::Image-->
