﻿@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "~/Views/Shared/__LoginLayout.cshtml";
}


<div class="col-lg-6 col-md-6 offset-md-3">
    <div class="kt-portlet__body  ">
        <div class="card ">
            <div class="card-header kt-font-bolder">
                <h2>
                    Reset password confirmation
                </h2>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>  Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.</p>
                </blockquote>
            </div>
        </div>

    </div>
</div>